In [ ]:
from data_loader import *

:

In [ ]:
#cleaning fct_order_items.csv
data_loader = DataLoader("D:\Deloitte\DIH-X-AUC-Hackathon\data\Inventory Management")
df = data_loader.load_csv("fct_order_items.csv")

D:\Deloitte\DIH-X-AUC-Hackathon\src\models\data_loader.py:56: DtypeWarning: Columns (9,11,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, parse_dates=parse_dates)

Successfully loaded fct_order_items.csv: 1999341 rows

In [ ]:
#knowing the shape, the columns, and the info of the dataset
print(df.shape)
print(df.columns.tolist())
df.head()

(1999341, 23)
['id', 'user_id', 'created', 'updated', 'title', 'campaign_id', 'commission_amount', 'cost', 'discount_amount', 'external_id', 'group', 'instructions', 'item_id', 'order_id', 'points_earned', 'points_redeemed', 'price', 'quantity', 'redemptions', 'removed_ingredients', 'add_on_ids', 'status', 'vat_amount']

,id,user_id,created,updated,title,campaign_id,commission_amount,cost,discount_amount,external_id,group,instructions,item_id,order_id,points_earned,points_redeemed,price,quantity,redemptions,removed_ingredients,add_on_ids,status,vat_amount
0,60824,512,1613139429,1708921636,Latte,NaN,1.50,50.0,0.0,NaN,NaN,NaN,60822,60825.0,NaN,NaN,25.0,2,0,NaN,NaN,Pending,NaN
1,60837,514,1613144783,1708921895,The Classic Meal,NaN,5.25,175.0,0.0,NaN,NaN,NaN,59999,60841.0,NaN,NaN,175.0,1,0,NaN,59995,Pending,NaN
2,60838,514,1613144783,1708921895,The Classic Meal,NaN,4.80,160.0,0.0,NaN,NaN,NaN,59999,60841.0,NaN,NaN,160.0,1,0,NaN,NaN,Pending,NaN
3,60839,514,1613144783,1708921895,The Classic Meal,NaN,4.80,160.0,0.0,NaN,NaN,NaN,59999,60841.0,NaN,NaN,160.0,1,0,NaN,NaN,Pending,NaN
4,60840,514,1613144783,1708921895,The Classic Meal,NaN,4.80,160.0,0.0,NaN,NaN,NaN,59999,60841.0,NaN,NaN,160.0,1,0,NaN,NaN,Pending,NaN

In [ ]:
#showing important info of the dataset
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999341 entries, 0 to 1999340
Data columns (total 23 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   id                   1999341 non-null  int64
 1   user_id              1999341 non-null  int64
 2   created              1999341 non-null  int64
 3   updated              1999341 non-null  int64
 4   title                1999341 non-null  object
 5   campaign_id          1941 non-null     float64
 6   commission_amount    1995417 non-null  float64
 7   cost                 1999341 non-null  float64
 8   discount_amount      1999341 non-null  float64
 9   external_id          4111 non-null     object
 10  group                710286 non-null   float64
 11  instructions         2362 non-null     object
 12  item_id              1999341 non-null  int64
 13  order_id             1999179 non-null  float64
 14  points_earned        1990916 non-null  float64
 15  points_redeemed      1990916 non-null  float64
 16  price                1999337 non-null  float64
 17  quantity             1999341 non-null  int64
 18  redemptions          1999341 non-null  int64
 19  removed_ingredients  541 non-null      object
 20  add_on_ids           240253 non-null   object
 21  status               1999340 non-null  object
 22  vat_amount           1640384 non-null  float64
dtypes: float64(10), int64(7), object(6)
memory usage: 350.8+ MB

In [ ]:
#dealing with missing data
#convert types
#any missing id will be filled with zero or empty. some columns that their null means no information given like price will be removed
df['campaign_id'] = df['campaign_id'].fillna('none')
df['external_id'] = df['external_id'].fillna('none')
df['removed_ingredients'] = df['removed_ingredients'].fillna('none')
df['add_on_ids'] = df['add_on_ids'].fillna('0')
df['order_id'] = df['order_id'].fillna(0)
df['commission_amount'] = df['commission_amount'].fillna(0)
df = df.dropna(subset=['price', 'status'])
df['group'] = df['group'].fillna(-1)
df['group'] = df['group'] + 1
df['instructions'] = df['instructions'].fillna('none')
df['points_earned'] = df['points_earned'].fillna(0)
df['points_redeemed'] = df['points_redeemed'].fillna(0)
df['vat_amount'] = df['vat_amount'].fillna(0)

In [ ]:
#checking duplicates
df.drop_duplicates(subset=['id'],inplace=True)

In [ ]:
#removing outliers
cols_to_check = [col for col in df.select_dtypes(include=[np.number]).columns 
                 if not any(x in col.lower() for x in ['id', 'created', 'updated'])]
z_scores = np.abs(stats.zscore(df[cols_to_check]))    
df = df[(z_scores < 2).all(axis=1)]

In [ ]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 1974592 entries, 0 to 1999339
Data columns (total 23 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   id                   1974592 non-null  int64
 1   user_id              1974592 non-null  int64
 2   created              1974592 non-null  int64
 3   updated              1974592 non-null  int64
 4   title                1974592 non-null  object
 5   campaign_id          1974592 non-null  object
 6   commission_amount    1974592 non-null  float64
 7   cost                 1974592 non-null  float64
 8   discount_amount      1974592 non-null  float64
 9   external_id          1974592 non-null  object
 10  group                1974592 non-null  float64
 11  instructions         1974592 non-null  object
 12  item_id              1974592 non-null  int64
 13  order_id             1974592 non-null  float64
 14  points_earned        1974592 non-null  float64
 15  points_redeemed      1974592 non-null  float64
 16  price                1974592 non-null  float64
 17  quantity             1974592 non-null  int64
 18  redemptions          1974592 non-null  int64
 19  removed_ingredients  1974592 non-null  object
 20  add_on_ids           1974592 non-null  object
 21  status               1974592 non-null  object
 22  vat_amount           1974592 non-null  float64
dtypes: float64(9), int64(7), object(7)
memory usage: 361.6+ MB

In [ ]:
#converting types (unix timestamps to datetime)
df['created'] = pd.to_datetime(df['created'],unit='s').dt.date
df['updated'] = pd.to_datetime(df['updated'],unit='s').dt.date

In [ ]:
df.head()

,id,user_id,created,updated,title,campaign_id,commission_amount,cost,discount_amount,external_id,group,instructions,item_id,order_id,points_earned,points_redeemed,price,quantity,redemptions,removed_ingredients,add_on_ids,status,vat_amount
0,60824,512,2021-02-12,2024-02-26,Latte,none,1.50,50.0,0.0,none,0.0,none,60822,60825.0,0.0,0.0,25.0,2,0,none,0,Pending,0.0
1,60837,514,2021-02-12,2024-02-26,The Classic Meal,none,5.25,175.0,0.0,none,0.0,none,59999,60841.0,0.0,0.0,175.0,1,0,none,59995,Pending,0.0
2,60838,514,2021-02-12,2024-02-26,The Classic Meal,none,4.80,160.0,0.0,none,0.0,none,59999,60841.0,0.0,0.0,160.0,1,0,none,0,Pending,0.0
3,60839,514,2021-02-12,2024-02-26,The Classic Meal,none,4.80,160.0,0.0,none,0.0,none,59999,60841.0,0.0,0.0,160.0,1,0,none,0,Pending,0.0
4,60840,514,2021-02-12,2024-02-26,The Classic Meal,none,4.80,160.0,0.0,none,0.0,none,59999,60841.0,0.0,0.0,160.0,1,0,none,0,Pending,0.0

In [ ]:
df.to_csv('D:/Deloitte/DIH-X-AUC-Hackathon/data/Cleaned Data/fct_order_items.csv')

In [ ]:
#cleaning fct_bonus_codes.csv
data_loader = DataLoader("D:\Deloitte\DIH-X-AUC-Hackathon\data\Inventory Management")
df = data_loader.load_csv("fct_bonus_codes.csv")

Successfully loaded fct_bonus_codes.csv: 6 rows

In [ ]:
#knowing the shape, the columns, and the info of the dataset
print(df.shape)
print(df.columns.tolist())
df.head()

(6, 9)
['id', 'user_id', 'created', 'updated', 'end_date_time', 'start_date_time', 'place_id', 'points', 'redemptions']

,id,user_id,created,updated,end_date_time,start_date_time,place_id,points,redemptions
0,61628,423,1614960382,1615136541,1615248000,1614902400,NaN,150,NaN
1,61922,423,1615559087,1637324088,1640822400,1615420800,59897.0,200,NaN
2,61940,423,1615564762,1622661882,1640908800,1615420800,NaN,300,NaN
3,63306,423,1617184682,1619715679,1640908800,1617148800,NaN,200,NaN
4,63379,417,1617265478,1619514716,1640908800,1617235200,NaN,200,NaN

In [ ]:
#showing important info of the dataset
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               6 non-null      int64
 1   user_id          6 non-null      int64
 2   created          6 non-null      int64
 3   updated          6 non-null      int64
 4   end_date_time    6 non-null      int64
 5   start_date_time  6 non-null      int64
 6   place_id         1 non-null      float64
 7   points           6 non-null      int64
 8   redemptions      0 non-null      float64
dtypes: float64(2), int64(7)
memory usage: 560.0 bytes

In [ ]:
#dealing with missing data
df.drop(['redemptions','place_id'],axis=1,inplace=True)
#checking duplicates
df.drop_duplicates(subset=['id'],inplace=True)
#converting types (unix timestamps to datetime)
df['created'] = pd.to_datetime(df['created'],unit='s').dt.date
df['updated'] = pd.to_datetime(df['updated'],unit='s').dt.date
df['end_date_time'] = pd.to_datetime(df['end_date_time'],unit='s').dt.date
df['start_date_time'] = pd.to_datetime(df['start_date_time'],unit='s').dt.date
df['duration']=df['end_date_time']-df['start_date_time']

In [ ]:
df['duration']=df['end_date_time']-df['start_date_time']
df.head()

,id,user_id,created,updated,end_date_time,start_date_time,points,duration
0,61628,423,2021-03-05,2021-03-07,2021-03-09,2021-03-05,150,"4 days, 0:00:00"
1,61922,423,2021-03-12,2021-11-19,2021-12-30,2021-03-11,200,"294 days, 0:00:00"
2,61940,423,2021-03-12,2021-06-02,2021-12-31,2021-03-11,300,"295 days, 0:00:00"
3,63306,423,2021-03-31,2021-04-29,2021-12-31,2021-03-31,200,"275 days, 0:00:00"
4,63379,417,2021-04-01,2021-04-27,2021-12-31,2021-04-01,200,"274 days, 0:00:00"

In [ ]:
df.to_csv('D:/Deloitte/DIH-X-AUC-Hackathon/data/Cleaned Data/fct_bonus_codes.csv')

In [ ]:
#cleaning fct_orders.csv
data_loader = DataLoader("D:\Deloitte\DIH-X-AUC-Hackathon\data\Inventory Management")
df = data_loader.load_csv("fct_orders.csv")

D:\Deloitte\DIH-X-AUC-Hackathon\src\models\data_loader.py:56: DtypeWarning: Columns (10,17,18,26,31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, parse_dates=parse_dates)

Successfully loaded fct_orders.csv: 399810 rows

In [ ]:
#knowing the shape, the columns, and the info of the dataset
print(df.shape)
print(df.columns.tolist())
df.head()

(399810, 40)
['id', 'user_id', 'created', 'updated', 'updated_by', 'account_id', 'cash_amount', 'cashier_notified', 'channel', 'customer_mobile_phone', 'customer_name', 'code', 'delivery_charge', 'delivery_location_id', 'demo_mode', 'discount_amount', 'driver_id', 'external_id', 'instructions', 'items_amount', 'payment_method', 'pickup_time', 'place_id', 'points_earned', 'points_redeemed', 'promise_time', 'rejection_reason', 'referring_user_id', 'service_charge', 'source', 'split_bill', 'split_bill_type', 'status', 'synchronized_to_accounting', 'table_id', 'tier_id', 'total_amount', 'trainee_mode', 'type', 'vat_amount']

,id,user_id,created,updated,updated_by,account_id,cash_amount,cashier_notified,channel,customer_mobile_phone,customer_name,code,delivery_charge,delivery_location_id,demo_mode,discount_amount,driver_id,external_id,instructions,items_amount,payment_method,pickup_time,place_id,points_earned,points_redeemed,promise_time,rejection_reason,referring_user_id,service_charge,source,split_bill,split_bill_type,status,synchronized_to_accounting,table_id,tier_id,total_amount,trainee_mode,type,vat_amount
0,60825,512,1613139429,1687470923,NaN,NaN,50.0,NaN,App,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,50.0,Counter,NaN,59897.0,25.0,0.0,1.613140e+09,NaN,NaN,NaN,Customer,NaN,NaN,Closed,NaN,NaN,59898.0,50.0,NaN,Takeaway,12.50
1,60841,514,1613144783,1687470923,NaN,NaN,655.0,NaN,App,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,655.0,Counter,NaN,59821.0,327.0,0.0,1.613146e+09,NaN,NaN,NaN,Customer,NaN,NaN,Closed,NaN,NaN,59822.0,655.0,NaN,Takeaway,163.75
2,60852,489,1613149610,1687470923,NaN,NaN,430.0,NaN,App,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,430.0,Counter,NaN,59821.0,215.0,0.0,1.613151e+09,NaN,NaN,NaN,Customer,NaN,NaN,Closed,NaN,NaN,59822.0,430.0,NaN,Takeaway,107.50
3,60863,522,1613149808,1687470923,NaN,NaN,495.0,NaN,App,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,495.0,Counter,NaN,59821.0,247.0,0.0,1.613151e+09,NaN,NaN,NaN,Customer,NaN,NaN,Closed,NaN,NaN,59822.0,495.0,NaN,Takeaway,123.75
4,60873,758,1613150426,1741152789,0.0,NaN,750.0,0.0,App,NaN,NaN,59821TH9VJY,0.0,NaN,0.0,0.0,NaN,NaN,NaN,750.0,Counter,NaN,59821.0,375.0,0.0,1.613153e+09,NaN,NaN,0.0,Customer,0.0,NaN,Closed,0.0,NaN,59822.0,750.0,0.0,Takeaway,187.50

In [ ]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399810 entries, 0 to 399809
Data columns (total 40 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   id                          399810 non-null  int64
 1   user_id                     399810 non-null  int64
 2   created                     399810 non-null  int64
 3   updated                     399810 non-null  int64
 4   updated_by                  1037 non-null    float64
 5   account_id                  2772 non-null    float64
 6   cash_amount                 399810 non-null  float64
 7   cashier_notified            399604 non-null  float64
 8   channel                     399810 non-null  object
 9   customer_mobile_phone       1717 non-null    float64
 10  customer_name               49836 non-null   object
 11  code                        399766 non-null  object
 12  delivery_charge             399809 non-null  float64
 13  delivery_location_id        428 non-null     float64
 14  demo_mode                   351099 non-null  float64
 15  discount_amount             399809 non-null  float64
 16  driver_id                   30 non-null      float64
 17  external_id                 1257 non-null    object
 18  instructions                1354 non-null    object
 19  items_amount                399809 non-null  float64
 20  payment_method              399809 non-null  object
 21  pickup_time                 474 non-null     float64
 22  place_id                    399809 non-null  float64
 23  points_earned               399809 non-null  float64
 24  points_redeemed             399809 non-null  float64
 25  promise_time                399809 non-null  float64
 26  rejection_reason            94 non-null      object
 27  referring_user_id           0 non-null       float64
 28  service_charge              5298 non-null    float64
 29  source                      399809 non-null  object
 30  split_bill                  4454 non-null    float64
 31  split_bill_type             55 non-null      object
 32  status                      399809 non-null  object
 33  synchronized_to_accounting  367215 non-null  float64
 34  table_id                    8665 non-null    float64
 35  tier_id                     399809 non-null  float64
 36  total_amount                399809 non-null  float64
 37  trainee_mode                338216 non-null  float64
 38  type                        399789 non-null  object
 39  vat_amount                  399809 non-null  float64
dtypes: float64(25), int64(4), object(11)
memory usage: 122.0+ MB

In [ ]:
#dealing with missing data
#any missing id will be filled with zero or empty. some columns that their null means no information given like price will be removed
cols_to_drop = [
    'referring_user_id', 'driver_id', 'rejection_reason', 'split_bill_type', 
    'delivery_location_id', 'pickup_time', 'external_id', 'service_charge', 'customer_mobile_phone','customer_name', 'account_id', 'split_bill',
    'table_id', 'synchronized_to_accounting'
]
df.drop(cols_to_drop,axis=1,inplace=True)
df.loc[df['updated_by'].isnull(),'updated_by'] = df.loc[df['updated_by'].isnull(),'user_id'] #supposing that the null means the user updated them
df['instructions']=df['instructions'].fillna("none")
df.dropna(inplace=True)

In [ ]:
#converting unix timestamps to datetimes
df['created'] = pd.to_datetime(df['created'],unit='s').dt.date
df['updated'] = pd.to_datetime(df['updated'],unit='s').dt.date
df['updated_by'] = pd.to_datetime(df['updated_by'],unit='s').dt.date

In [ ]:
#removing outliers
cols_to_check = [col for col in df.select_dtypes(include=[np.number]).columns 
                 if not any(x in col.lower() for x in ['id', 'created', 'updated'])]
z_scores = np.abs(stats.zscore(df[cols_to_check]))    
df = df[(z_scores < 3).all(axis=1)]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 335214 entries, 23655 to 399808
Data columns (total 26 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                335214 non-null  int64
 1   user_id           335214 non-null  int64
 2   created           335214 non-null  object
 3   updated           335214 non-null  object
 4   updated_by        335214 non-null  object
 5   cash_amount       335214 non-null  float64
 6   cashier_notified  335214 non-null  float64
 7   channel           335214 non-null  object
 8   code              335214 non-null  object
 9   delivery_charge   335214 non-null  float64
 10  demo_mode         335214 non-null  float64
 11  discount_amount   335214 non-null  float64
 12  instructions      335214 non-null  object
 13  items_amount      335214 non-null  float64
 14  payment_method    335214 non-null  object
 15  place_id          335214 non-null  float64
 16  points_earned     335214 non-null  float64
 17  points_redeemed   335214 non-null  float64
 18  promise_time      335214 non-null  float64
 19  source            335214 non-null  object
 20  status            335214 non-null  object
 21  tier_id           335214 non-null  float64
 22  total_amount      335214 non-null  float64
 23  trainee_mode      335214 non-null  float64
 24  type              335214 non-null  object
 25  vat_amount        335214 non-null  float64
dtypes: float64(14), int64(2), object(10)
memory usage: 69.1+ MB

In [ ]:
df.head()

,id,user_id,created,updated,updated_by,cash_amount,cashier_notified,channel,code,delivery_charge,demo_mode,discount_amount,instructions,items_amount,payment_method,place_id,points_earned,points_redeemed,promise_time,source,status,tier_id,total_amount,trainee_mode,type,vat_amount
23655,187236,2510,2022-10-05,2025-03-05,1970-01-01,109.0,0.0,App,XMTKPW,0.0,0.0,0.0,none,109.0,Online,106493.0,109.0,0.0,1.664987e+09,Customer,Closed,106490.0,109.0,0.0,Takeaway,27.25
26278,197863,2953,2022-10-23,2025-03-05,1970-01-01,105.0,0.0,App,UTVHWJ,0.0,0.0,0.0,none,105.0,Online,106493.0,105.0,0.0,1.666542e+09,Customer,Closed,106490.0,105.0,0.0,Takeaway,26.25
32850,226397,0,2023-01-04,2024-11-06,1970-01-01,45.0,0.0,Web,94025TLCP7J,0.0,0.0,0.0,none,45.0,Card,94025.0,22.0,0.0,1.672841e+09,Customer,Rejected,94022.0,45.0,0.0,Eat In,11.25
32851,226399,0,2023-01-04,2024-11-06,1970-01-01,45.0,0.0,Web,94025E7MNKP,0.0,0.0,0.0,none,45.0,Card,94025.0,22.0,0.0,1.672842e+09,Customer,Rejected,94022.0,45.0,0.0,Eat In,11.25
32852,226401,0,2023-01-04,2024-11-06,1970-01-01,45.0,0.0,Web,940254R7QCN,0.0,0.0,0.0,none,45.0,Card,94025.0,22.0,0.0,1.672842e+09,Customer,Rejected,94022.0,45.0,0.0,Eat In,11.25

In [ ]:
df.to_csv('D:/Deloitte/DIH-X-AUC-Hackathon/data/Cleaned Data/fct_order.csv')

In [ ]:
#cleaning fct_invoice_items.csv
data_loader = DataLoader("D:\Deloitte\DIH-X-AUC-Hackathon\data\Inventory Management")
df = data_loader.load_csv("fct_invoice_items.csv")

Successfully loaded fct_invoice_items.csv: 3124 rows

In [ ]:
#knowing the shape, the columns, and the info of the dataset
print(df.shape)
print(df.columns.tolist())
df.head()

(3124, 8)
['id', 'user_id', 'created', 'updated', 'amount', 'product_id', 'description', 'invoice_id']

,id,user_id,created,updated,amount,product_id,description,invoice_id
0,321363,1,1689949801,1718715887,760.000,NaN,POS Light (76 days),321364.0
1,322423,1,1690193730,1718715887,206.667,NaN,POS Light (31 days),322424.0
2,323080,1,1690293901,1718715887,720.000,NaN,POS Light (72 days),323081.0
3,324088,1,1690413001,1718715887,710.000,NaN,POS Light (71 days),324089.0
4,324170,1,1690449002,1718715887,700.000,NaN,POS Light (70 days),324171.0

In [ ]:
#showing important info of the dataset
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3124 entries, 0 to 3123
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           3124 non-null   int64
 1   user_id      3124 non-null   int64
 2   created      3124 non-null   int64
 3   updated      3124 non-null   int64
 4   amount       3124 non-null   float64
 5   product_id   2937 non-null   float64
 6   description  3123 non-null   object
 7   invoice_id   3105 non-null   float64
dtypes: float64(3), int64(4), object(1)
memory usage: 195.4+ KB

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.to_csv('D:/Deloitte/DIH-X-AUC-Hackathon/data/Cleaned Data/fct_invoice_items.csv')

In [ ]:
#cleaning fct_cash_balances.csv
data_loader = DataLoader("D:\Deloitte\DIH-X-AUC-Hackathon\data\Inventory Management")
df = data_loader.load_csv("fct_cash_balances.csv")

Successfully loaded fct_cash_balances.csv: 52915 rows

In [ ]:
#knowing the shape, the columns, and the info of the dataset
print(df.shape)
print(df.columns.tolist())
df.head()

(52915, 12)
['id', 'user_id', 'created', 'updated', 'closing_coins_and_notes', 'closing_balance', 'end_time', 'place_id', 'opening_balance', 'opening_coins_and_notes', 'status', 'transactions']

,id,user_id,created,updated,closing_coins_and_notes,closing_balance,end_time,place_id,opening_balance,opening_coins_and_notes,status,transactions
0,420439,1,1698296813,1698468331,NaN,348.0,1.698468e+09,59897,150.0,NaN,Closed,"[{""created"":1698296818,""type"":""received"",""amou..."
1,421565,1,1698333424,1702299941,NaN,99602.5,1.702300e+09,316229,2000.0,NaN,Closed,"[{""created"":1698333427,""type"":""received"",""amou..."
2,421701,1,1698335712,1727107200,[],0.0,1.727107e+09,320584,200.0,[],Closed,"[{""created"":1727094293,""type"":""received"",""amou..."
3,421796,1,1698337033,1747045163,[],0.0,1.747045e+09,355205,500.0,[],Closed,"[{""created"":1700933961,""type"":""change"",""amount..."
4,422038,1,1698340777,1747045169,[],0.0,1.747045e+09,355205,132.0,[],Closed,"[{""created"":1700933961,""type"":""change"",""amount..."

In [ ]:
#showing important info of the dataset
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52915 entries, 0 to 52914
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       52915 non-null  int64
 1   user_id                  52915 non-null  int64
 2   created                  52915 non-null  int64
 3   updated                  52915 non-null  int64
 4   closing_coins_and_notes  49320 non-null  object
 5   closing_balance          52788 non-null  float64
 6   end_time                 52474 non-null  float64
 7   place_id                 52915 non-null  int64
 8   opening_balance          52915 non-null  float64
 9   opening_coins_and_notes  49281 non-null  object
 10  status                   52915 non-null  object
 11  transactions             52788 non-null  object
dtypes: float64(3), int64(5), object(4)
memory usage: 4.8+ MB

In [ ]:
#cleaning missing data and convert from unix timestamps to datetime
df.dropna(inplace=True)
df['created'] = pd.to_datetime(df['created'],unit='s').dt.date
df['updated'] = pd.to_datetime(df['updated'],unit='s').dt.date

In [ ]:
df['transactions']

2        [{"created":1727094293,"type":"received","amou...
3        [{"created":1700933961,"type":"change","amount...
4        [{"created":1700933961,"type":"change","amount...
5        [{"created":1727192271,"type":"change","amount...
6        [{"created":1700933961,"type":"change","amount...
                               ...
52879    [{"created":1754837217,"type":"received","amou...
52880    [{"created":1754844919,"type":"received","amou...
52881    [{"created":1754829627,"type":"received","amou...
52898    [{"created":1754832621,"type":"received","amou...
52912                                                   []
Name: transactions, Length: 48939, dtype: object

In [ ]:
#feature creation for transactions
import ast
df['total_transactions_amount']= 0.0
df['total_transactions_type']= "in"
for index in df.index:
    value=0
    list = ast.literal_eval(df.loc[index, "transactions"]) if pd.notnull(df.loc[index, "transactions"]) else []
    for transaction in list:
        if transaction["type"]=="received":
            value+= transaction["amount"]
        else:
            value-= transaction["amount"]
    if value>=0:
        df.loc[index,"total_transactions_amount"] = value
        df.loc[index,"total_transactions_type"] = "recieved"
    else:
        df.loc[index,"total_transactions_amount"] = -1*value
        df.loc[index,"total_transactions_type"] = "changed"

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48939 entries, 2 to 52912
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         48939 non-null  int64
 1   user_id                    48939 non-null  int64
 2   created                    48939 non-null  object
 3   updated                    48939 non-null  object
 4   closing_coins_and_notes    48939 non-null  object
 5   closing_balance            48939 non-null  float64
 6   end_time                   48939 non-null  float64
 7   place_id                   48939 non-null  int64
 8   opening_balance            48939 non-null  float64
 9   opening_coins_and_notes    48939 non-null  object
 10  status                     48939 non-null  object
 11  transactions               48939 non-null  object
 12  total_transactions_amount  48939 non-null  float64
 13  total_transactions_type    48939 non-null  object
dtypes: float64(4), int64(3), object(7)
memory usage: 6.6+ MB

In [ ]:
df.head()

,id,user_id,created,updated,closing_coins_and_notes,closing_balance,end_time,place_id,opening_balance,opening_coins_and_notes,status,transactions,total_transactions_amount,total_transactions_type
2,421701,1,2023-10-26,2024-09-23,[],0.0,1.727107e+09,320584,200.0,[],Closed,"[{""created"":1727094293,""type"":""received"",""amou...",42333.00,recieved
3,421796,1,2023-10-26,2025-05-12,[],0.0,1.747045e+09,355205,500.0,[],Closed,"[{""created"":1700933961,""type"":""change"",""amount...",11742.00,recieved
4,422038,1,2023-10-26,2025-05-12,[],0.0,1.747045e+09,355205,132.0,[],Closed,"[{""created"":1700933961,""type"":""change"",""amount...",11298.00,recieved
5,423192,1,2023-10-27,2024-09-24,[],0.0,1.727206e+09,386681,700.0,[],Closed,"[{""created"":1727192271,""type"":""change"",""amount...",212266.05,recieved
6,423211,1,2023-10-27,2025-05-12,[],0.0,1.747045e+09,355205,21.0,[],Closed,"[{""created"":1700933961,""type"":""change"",""amount...",11162.00,recieved

In [ ]:
df.to_csv('D:/Deloitte/DIH-X-AUC-Hackathon/data/Cleaned Data/fct_cash_balances.csv')

In [ ]:
#knowing the shape, the columns, and the info of the dataset
print(df.shape)
print(df.columns.tolist())
df.head()

(1999341, 23)
['id', 'user_id', 'created', 'updated', 'title', 'campaign_id', 'commission_amount', 'cost', 'discount_amount', 'external_id', 'group', 'instructions', 'item_id', 'order_id', 'points_earned', 'points_redeemed', 'price', 'quantity', 'redemptions', 'removed_ingredients', 'add_on_ids', 'status', 'vat_amount']

,id,user_id,created,updated,title,campaign_id,commission_amount,cost,discount_amount,external_id,group,instructions,item_id,order_id,points_earned,points_redeemed,price,quantity,redemptions,removed_ingredients,add_on_ids,status,vat_amount
0,60824,512,1613139429,1708921636,Latte,NaN,1.50,50.0,0.0,NaN,NaN,NaN,60822,60825.0,NaN,NaN,25.0,2,0,NaN,NaN,Pending,NaN
1,60837,514,1613144783,1708921895,The Classic Meal,NaN,5.25,175.0,0.0,NaN,NaN,NaN,59999,60841.0,NaN,NaN,175.0,1,0,NaN,59995,Pending,NaN
2,60838,514,1613144783,1708921895,The Classic Meal,NaN,4.80,160.0,0.0,NaN,NaN,NaN,59999,60841.0,NaN,NaN,160.0,1,0,NaN,NaN,Pending,NaN
3,60839,514,1613144783,1708921895,The Classic Meal,NaN,4.80,160.0,0.0,NaN,NaN,NaN,59999,60841.0,NaN,NaN,160.0,1,0,NaN,NaN,Pending,NaN
4,60840,514,1613144783,1708921895,The Classic Meal,NaN,4.80,160.0,0.0,NaN,NaN,NaN,59999,60841.0,NaN,NaN,160.0,1,0,NaN,NaN,Pending,NaN

In [ ]:
#showing important info of the dataset
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999341 entries, 0 to 1999340
Data columns (total 23 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   id                   1999341 non-null  int64
 1   user_id              1999341 non-null  int64
 2   created              1999341 non-null  int64
 3   updated              1999341 non-null  int64
 4   title                1999341 non-null  object
 5   campaign_id          1941 non-null     float64
 6   commission_amount    1995417 non-null  float64
 7   cost                 1999341 non-null  float64
 8   discount_amount      1999341 non-null  float64
 9   external_id          4111 non-null     object
 10  group                710286 non-null   float64
 11  instructions         2362 non-null     object
 12  item_id              1999341 non-null  int64
 13  order_id             1999179 non-null  float64
 14  points_earned        1990916 non-null  float64
 15  points_redeemed      1990916 non-null  float64
 16  price                1999337 non-null  float64
 17  quantity             1999341 non-null  int64
 18  redemptions          1999341 non-null  int64
 19  removed_ingredients  541 non-null      object
 20  add_on_ids           240253 non-null   object
 21  status               1999340 non-null  object
 22  vat_amount           1640384 non-null  float64
dtypes: float64(10), int64(7), object(6)
memory usage: 350.8+ MB

In [ ]:
#independednt cell to see each columns info (check missing values or

In [ ]:
#dealing with missing data
#convert types
#any missing id will be filled with zero or empty. some columns that their null means no information given like price will be removed
df['campaign_id'] = df['campaign_id'].fillna('none')
df['external_id'] = df['external_id'].fillna('none')
df['removed_ingredients'] = df['removed_ingredients'].fillna('none')
df['add_on_ids'] = df['add_on_ids'].fillna('0')
df['order_id'] = df['order_id'].fillna(0)
df['commission_amount'] = df['commission_amount'].fillna(0)
df = df.dropna(subset=['price', 'status'])
df['group'] = df['group'].fillna(-1)
df['group'] = df['group'] + 1
df['instructions'] = df['instructions'].fillna('none')
df['points_earned'] = df['points_earned'].fillna(0)
df['points_redeemed'] = df['points_redeemed'].fillna(0)
df['vat_amount'] = df['vat_amount'].fillna(0)

In [ ]:
#checking duplicates
df.drop_duplicates(subset=['id'],inplace=True)

In [ ]:
#removing outliers
cols_to_check = [col for col in df.select_dtypes(include=[np.number]).columns 
                 if not any(x in col.lower() for x in ['id', 'created', 'updated'])]
z_scores = np.abs(stats.zscore(df[cols_to_check]))    
df = df[(z_scores < 2).all(axis=1)]

In [ ]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 1974592 entries, 0 to 1999339
Data columns (total 23 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   id                   1974592 non-null  int64
 1   user_id              1974592 non-null  int64
 2   created              1974592 non-null  int64
 3   updated              1974592 non-null  int64
 4   title                1974592 non-null  object
 5   campaign_id          1974592 non-null  object
 6   commission_amount    1974592 non-null  float64
 7   cost                 1974592 non-null  float64
 8   discount_amount      1974592 non-null  float64
 9   external_id          1974592 non-null  object
 10  group                1974592 non-null  float64
 11  instructions         1974592 non-null  object
 12  item_id              1974592 non-null  int64
 13  order_id             1974592 non-null  float64
 14  points_earned        1974592 non-null  float64
 15  points_redeemed      1974592 non-null  float64
 16  price                1974592 non-null  float64
 17  quantity             1974592 non-null  int64
 18  redemptions          1974592 non-null  int64
 19  removed_ingredients  1974592 non-null  object
 20  add_on_ids           1974592 non-null  object
 21  status               1974592 non-null  object
 22  vat_amount           1974592 non-null  float64
dtypes: float64(9), int64(7), object(7)
memory usage: 361.6+ MB

In [ ]:
#converting types (unix timestamps to datetime)
df['created'] = pd.to_datetime(df['created'],unit='s').dt.date
df['updated'] = pd.to_datetime(df['updated'],unit='s').dt.date

In [ ]:
df.head()

,id,user_id,created,updated,title,campaign_id,commission_amount,cost,discount_amount,external_id,group,instructions,item_id,order_id,points_earned,points_redeemed,price,quantity,redemptions,removed_ingredients,add_on_ids,status,vat_amount
0,60824,512,2021-02-12,2024-02-26,Latte,none,1.50,50.0,0.0,none,0.0,none,60822,60825.0,0.0,0.0,25.0,2,0,none,0,Pending,0.0
1,60837,514,2021-02-12,2024-02-26,The Classic Meal,none,5.25,175.0,0.0,none,0.0,none,59999,60841.0,0.0,0.0,175.0,1,0,none,59995,Pending,0.0
2,60838,514,2021-02-12,2024-02-26,The Classic Meal,none,4.80,160.0,0.0,none,0.0,none,59999,60841.0,0.0,0.0,160.0,1,0,none,0,Pending,0.0
3,60839,514,2021-02-12,2024-02-26,The Classic Meal,none,4.80,160.0,0.0,none,0.0,none,59999,60841.0,0.0,0.0,160.0,1,0,none,0,Pending,0.0
4,60840,514,2021-02-12,2024-02-26,The Classic Meal,none,4.80,160.0,0.0,none,0.0,none,59999,60841.0,0.0,0.0,160.0,1,0,none,0,Pending,0.0

In [ ]:
df.to_csv('D:/Deloitte/DIH-X-AUC-Hackathon/data/Cleaned Data/fct_order_items.csv')

In [ ]:
#cleaning fct_bonus_codes.csv
data_loader = DataLoader("D:\Deloitte\DIH-X-AUC-Hackathon\data\Inventory Management")
df = data_loader.load_csv("fct_bonus_codes.csv")

Successfully loaded fct_bonus_codes.csv: 6 rows

In [ ]:
#knowing the shape, the columns, and the info of the dataset
print(df.shape)
print(df.columns.tolist())
df.head()

(6, 9)
['id', 'user_id', 'created', 'updated', 'end_date_time', 'start_date_time', 'place_id', 'points', 'redemptions']

,id,user_id,created,updated,end_date_time,start_date_time,place_id,points,redemptions
0,61628,423,1614960382,1615136541,1615248000,1614902400,NaN,150,NaN
1,61922,423,1615559087,1637324088,1640822400,1615420800,59897.0,200,NaN
2,61940,423,1615564762,1622661882,1640908800,1615420800,NaN,300,NaN
3,63306,423,1617184682,1619715679,1640908800,1617148800,NaN,200,NaN
4,63379,417,1617265478,1619514716,1640908800,1617235200,NaN,200,NaN

In [ ]:
#showing important info of the dataset
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               6 non-null      int64
 1   user_id          6 non-null      int64
 2   created          6 non-null      int64
 3   updated          6 non-null      int64
 4   end_date_time    6 non-null      int64
 5   start_date_time  6 non-null      int64
 6   place_id         1 non-null      float64
 7   points           6 non-null      int64
 8   redemptions      0 non-null      float64
dtypes: float64(2), int64(7)
memory usage: 560.0 bytes

In [ ]:
#dealing with missing data
df.drop(['redemptions','place_id'],axis=1,inplace=True)
#checking duplicates
df.drop_duplicates(subset=['id'],inplace=True)
#converting types (unix timestamps to datetime)
df['created'] = pd.to_datetime(df['created'],unit='s').dt.date
df['updated'] = pd.to_datetime(df['updated'],unit='s').dt.date
df['end_date_time'] = pd.to_datetime(df['end_date_time'],unit='s').dt.date
df['start_date_time'] = pd.to_datetime(df['start_date_time'],unit='s').dt.date
df['duration']=df['end_date_time']-df['start_date_time']

In [ ]:
df['duration']=df['end_date_time']-df['start_date_time']
df.head()

,id,user_id,created,updated,end_date_time,start_date_time,points,duration
0,61628,423,2021-03-05,2021-03-07,2021-03-09,2021-03-05,150,"4 days, 0:00:00"
1,61922,423,2021-03-12,2021-11-19,2021-12-30,2021-03-11,200,"294 days, 0:00:00"
2,61940,423,2021-03-12,2021-06-02,2021-12-31,2021-03-11,300,"295 days, 0:00:00"
3,63306,423,2021-03-31,2021-04-29,2021-12-31,2021-03-31,200,"275 days, 0:00:00"
4,63379,417,2021-04-01,2021-04-27,2021-12-31,2021-04-01,200,"274 days, 0:00:00"

In [ ]:
df.to_csv('D:/Deloitte/DIH-X-AUC-Hackathon/data/Cleaned Data/fct_bonus_codes.csv')

In [ ]:
#cleaning fct_orders.csv
data_loader = DataLoader("D:\Deloitte\DIH-X-AUC-Hackathon\data\Inventory Management")
df = data_loader.load_csv("fct_orders.csv")

D:\Deloitte\DIH-X-AUC-Hackathon\src\models\data_loader.py:56: DtypeWarning: Columns (10,17,18,26,31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, parse_dates=parse_dates)

Successfully loaded fct_orders.csv: 399810 rows

In [ ]:
#knowing the shape, the columns, and the info of the dataset
print(df.shape)
print(df.columns.tolist())
df.head()

(399810, 40)
['id', 'user_id', 'created', 'updated', 'updated_by', 'account_id', 'cash_amount', 'cashier_notified', 'channel', 'customer_mobile_phone', 'customer_name', 'code', 'delivery_charge', 'delivery_location_id', 'demo_mode', 'discount_amount', 'driver_id', 'external_id', 'instructions', 'items_amount', 'payment_method', 'pickup_time', 'place_id', 'points_earned', 'points_redeemed', 'promise_time', 'rejection_reason', 'referring_user_id', 'service_charge', 'source', 'split_bill', 'split_bill_type', 'status', 'synchronized_to_accounting', 'table_id', 'tier_id', 'total_amount', 'trainee_mode', 'type', 'vat_amount']

,id,user_id,created,updated,updated_by,account_id,cash_amount,cashier_notified,channel,customer_mobile_phone,customer_name,code,delivery_charge,delivery_location_id,demo_mode,discount_amount,driver_id,external_id,instructions,items_amount,payment_method,pickup_time,place_id,points_earned,points_redeemed,promise_time,rejection_reason,referring_user_id,service_charge,source,split_bill,split_bill_type,status,synchronized_to_accounting,table_id,tier_id,total_amount,trainee_mode,type,vat_amount
0,60825,512,1613139429,1687470923,NaN,NaN,50.0,NaN,App,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,50.0,Counter,NaN,59897.0,25.0,0.0,1.613140e+09,NaN,NaN,NaN,Customer,NaN,NaN,Closed,NaN,NaN,59898.0,50.0,NaN,Takeaway,12.50
1,60841,514,1613144783,1687470923,NaN,NaN,655.0,NaN,App,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,655.0,Counter,NaN,59821.0,327.0,0.0,1.613146e+09,NaN,NaN,NaN,Customer,NaN,NaN,Closed,NaN,NaN,59822.0,655.0,NaN,Takeaway,163.75
2,60852,489,1613149610,1687470923,NaN,NaN,430.0,NaN,App,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,430.0,Counter,NaN,59821.0,215.0,0.0,1.613151e+09,NaN,NaN,NaN,Customer,NaN,NaN,Closed,NaN,NaN,59822.0,430.0,NaN,Takeaway,107.50
3,60863,522,1613149808,1687470923,NaN,NaN,495.0,NaN,App,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,495.0,Counter,NaN,59821.0,247.0,0.0,1.613151e+09,NaN,NaN,NaN,Customer,NaN,NaN,Closed,NaN,NaN,59822.0,495.0,NaN,Takeaway,123.75
4,60873,758,1613150426,1741152789,0.0,NaN,750.0,0.0,App,NaN,NaN,59821TH9VJY,0.0,NaN,0.0,0.0,NaN,NaN,NaN,750.0,Counter,NaN,59821.0,375.0,0.0,1.613153e+09,NaN,NaN,0.0,Customer,0.0,NaN,Closed,0.0,NaN,59822.0,750.0,0.0,Takeaway,187.50

In [ ]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399810 entries, 0 to 399809
Data columns (total 40 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   id                          399810 non-null  int64
 1   user_id                     399810 non-null  int64
 2   created                     399810 non-null  int64
 3   updated                     399810 non-null  int64
 4   updated_by                  1037 non-null    float64
 5   account_id                  2772 non-null    float64
 6   cash_amount                 399810 non-null  float64
 7   cashier_notified            399604 non-null  float64
 8   channel                     399810 non-null  object
 9   customer_mobile_phone       1717 non-null    float64
 10  customer_name               49836 non-null   object
 11  code                        399766 non-null  object
 12  delivery_charge             399809 non-null  float64
 13  delivery_location_id        428 non-null     float64
 14  demo_mode                   351099 non-null  float64
 15  discount_amount             399809 non-null  float64
 16  driver_id                   30 non-null      float64
 17  external_id                 1257 non-null    object
 18  instructions                1354 non-null    object
 19  items_amount                399809 non-null  float64
 20  payment_method              399809 non-null  object
 21  pickup_time                 474 non-null     float64
 22  place_id                    399809 non-null  float64
 23  points_earned               399809 non-null  float64
 24  points_redeemed             399809 non-null  float64
 25  promise_time                399809 non-null  float64
 26  rejection_reason            94 non-null      object
 27  referring_user_id           0 non-null       float64
 28  service_charge              5298 non-null    float64
 29  source                      399809 non-null  object
 30  split_bill                  4454 non-null    float64
 31  split_bill_type             55 non-null      object
 32  status                      399809 non-null  object
 33  synchronized_to_accounting  367215 non-null  float64
 34  table_id                    8665 non-null    float64
 35  tier_id                     399809 non-null  float64
 36  total_amount                399809 non-null  float64
 37  trainee_mode                338216 non-null  float64
 38  type                        399789 non-null  object
 39  vat_amount                  399809 non-null  float64
dtypes: float64(25), int64(4), object(11)
memory usage: 122.0+ MB

In [ ]:
#dealing with missing data
#any missing id will be filled with zero or empty. some columns that their null means no information given like price will be removed
cols_to_drop = [
    'referring_user_id', 'driver_id', 'rejection_reason', 'split_bill_type', 
    'delivery_location_id', 'pickup_time', 'external_id', 'service_charge', 'customer_mobile_phone','customer_name', 'account_id', 'split_bill',
    'table_id', 'synchronized_to_accounting'
]
df.drop(cols_to_drop,axis=1,inplace=True)
df.loc[df['updated_by'].isnull(),'updated_by'] = df.loc[df['updated_by'].isnull(),'user_id'] #supposing that the null means the user updated them
df['instructions']=df['instructions'].fillna("none")
df.dropna(inplace=True)

In [ ]:
#converting unix timestamps to datetimes
df['created'] = pd.to_datetime(df['created'],unit='s').dt.date
df['updated'] = pd.to_datetime(df['updated'],unit='s').dt.date
df['updated_by'] = pd.to_datetime(df['updated_by'],unit='s').dt.date

In [ ]:
#removing outliers
cols_to_check = [col for col in df.select_dtypes(include=[np.number]).columns 
                 if not any(x in col.lower() for x in ['id', 'created', 'updated'])]
z_scores = np.abs(stats.zscore(df[cols_to_check]))    
df = df[(z_scores < 3).all(axis=1)]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 335214 entries, 23655 to 399808
Data columns (total 26 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                335214 non-null  int64
 1   user_id           335214 non-null  int64
 2   created           335214 non-null  object
 3   updated           335214 non-null  object
 4   updated_by        335214 non-null  object
 5   cash_amount       335214 non-null  float64
 6   cashier_notified  335214 non-null  float64
 7   channel           335214 non-null  object
 8   code              335214 non-null  object
 9   delivery_charge   335214 non-null  float64
 10  demo_mode         335214 non-null  float64
 11  discount_amount   335214 non-null  float64
 12  instructions      335214 non-null  object
 13  items_amount      335214 non-null  float64
 14  payment_method    335214 non-null  object
 15  place_id          335214 non-null  float64
 16  points_earned     335214 non-null  float64
 17  points_redeemed   335214 non-null  float64
 18  promise_time      335214 non-null  float64
 19  source            335214 non-null  object
 20  status            335214 non-null  object
 21  tier_id           335214 non-null  float64
 22  total_amount      335214 non-null  float64
 23  trainee_mode      335214 non-null  float64
 24  type              335214 non-null  object
 25  vat_amount        335214 non-null  float64
dtypes: float64(14), int64(2), object(10)
memory usage: 69.1+ MB

In [ ]:
df.head()

,id,user_id,created,updated,updated_by,cash_amount,cashier_notified,channel,code,delivery_charge,demo_mode,discount_amount,instructions,items_amount,payment_method,place_id,points_earned,points_redeemed,promise_time,source,status,tier_id,total_amount,trainee_mode,type,vat_amount
23655,187236,2510,2022-10-05,2025-03-05,1970-01-01,109.0,0.0,App,XMTKPW,0.0,0.0,0.0,none,109.0,Online,106493.0,109.0,0.0,1.664987e+09,Customer,Closed,106490.0,109.0,0.0,Takeaway,27.25
26278,197863,2953,2022-10-23,2025-03-05,1970-01-01,105.0,0.0,App,UTVHWJ,0.0,0.0,0.0,none,105.0,Online,106493.0,105.0,0.0,1.666542e+09,Customer,Closed,106490.0,105.0,0.0,Takeaway,26.25
32850,226397,0,2023-01-04,2024-11-06,1970-01-01,45.0,0.0,Web,94025TLCP7J,0.0,0.0,0.0,none,45.0,Card,94025.0,22.0,0.0,1.672841e+09,Customer,Rejected,94022.0,45.0,0.0,Eat In,11.25
32851,226399,0,2023-01-04,2024-11-06,1970-01-01,45.0,0.0,Web,94025E7MNKP,0.0,0.0,0.0,none,45.0,Card,94025.0,22.0,0.0,1.672842e+09,Customer,Rejected,94022.0,45.0,0.0,Eat In,11.25
32852,226401,0,2023-01-04,2024-11-06,1970-01-01,45.0,0.0,Web,940254R7QCN,0.0,0.0,0.0,none,45.0,Card,94025.0,22.0,0.0,1.672842e+09,Customer,Rejected,94022.0,45.0,0.0,Eat In,11.25

In [ ]:
df.to_csv('D:/Deloitte/DIH-X-AUC-Hackathon/data/Cleaned Data/fct_order.csv')

In [ ]:
#cleaning fct_invoice_items.csv
data_loader = DataLoader("D:\Deloitte\DIH-X-AUC-Hackathon\data\Inventory Management")
df = data_loader.load_csv("fct_invoice_items.csv")

Successfully loaded fct_invoice_items.csv: 3124 rows

In [ ]:
#knowing the shape, the columns, and the info of the dataset
print(df.shape)
print(df.columns.tolist())
df.head()

(3124, 8)
['id', 'user_id', 'created', 'updated', 'amount', 'product_id', 'description', 'invoice_id']

,id,user_id,created,updated,amount,product_id,description,invoice_id
0,321363,1,1689949801,1718715887,760.000,NaN,POS Light (76 days),321364.0
1,322423,1,1690193730,1718715887,206.667,NaN,POS Light (31 days),322424.0
2,323080,1,1690293901,1718715887,720.000,NaN,POS Light (72 days),323081.0
3,324088,1,1690413001,1718715887,710.000,NaN,POS Light (71 days),324089.0
4,324170,1,1690449002,1718715887,700.000,NaN,POS Light (70 days),324171.0

In [ ]:
#showing important info of the dataset
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3124 entries, 0 to 3123
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           3124 non-null   int64
 1   user_id      3124 non-null   int64
 2   created      3124 non-null   int64
 3   updated      3124 non-null   int64
 4   amount       3124 non-null   float64
 5   product_id   2937 non-null   float64
 6   description  3123 non-null   object
 7   invoice_id   3105 non-null   float64
dtypes: float64(3), int64(4), object(1)
memory usage: 195.4+ KB

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.to_csv('D:/Deloitte/DIH-X-AUC-Hackathon/data/Cleaned Data/fct_invoice_items.csv')

In [ ]:
#cleaning fct_cash_balances.csv
data_loader = DataLoader("D:\Deloitte\DIH-X-AUC-Hackathon\data\Inventory Management")
df = data_loader.load_csv("fct_cash_balances.csv")

Successfully loaded fct_cash_balances.csv: 52915 rows

In [ ]:
#knowing the shape, the columns, and the info of the dataset
print(df.shape)
print(df.columns.tolist())
df.head()

(52915, 12)
['id', 'user_id', 'created', 'updated', 'closing_coins_and_notes', 'closing_balance', 'end_time', 'place_id', 'opening_balance', 'opening_coins_and_notes', 'status', 'transactions']

,id,user_id,created,updated,closing_coins_and_notes,closing_balance,end_time,place_id,opening_balance,opening_coins_and_notes,status,transactions
0,420439,1,1698296813,1698468331,NaN,348.0,1.698468e+09,59897,150.0,NaN,Closed,"[{""created"":1698296818,""type"":""received"",""amou..."
1,421565,1,1698333424,1702299941,NaN,99602.5,1.702300e+09,316229,2000.0,NaN,Closed,"[{""created"":1698333427,""type"":""received"",""amou..."
2,421701,1,1698335712,1727107200,[],0.0,1.727107e+09,320584,200.0,[],Closed,"[{""created"":1727094293,""type"":""received"",""amou..."
3,421796,1,1698337033,1747045163,[],0.0,1.747045e+09,355205,500.0,[],Closed,"[{""created"":1700933961,""type"":""change"",""amount..."
4,422038,1,1698340777,1747045169,[],0.0,1.747045e+09,355205,132.0,[],Closed,"[{""created"":1700933961,""type"":""change"",""amount..."

In [ ]:
#showing important info of the dataset
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52915 entries, 0 to 52914
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       52915 non-null  int64
 1   user_id                  52915 non-null  int64
 2   created                  52915 non-null  int64
 3   updated                  52915 non-null  int64
 4   closing_coins_and_notes  49320 non-null  object
 5   closing_balance          52788 non-null  float64
 6   end_time                 52474 non-null  float64
 7   place_id                 52915 non-null  int64
 8   opening_balance          52915 non-null  float64
 9   opening_coins_and_notes  49281 non-null  object
 10  status                   52915 non-null  object
 11  transactions             52788 non-null  object
dtypes: float64(3), int64(5), object(4)
memory usage: 4.8+ MB

In [ ]:
#cleaning missing data and convert from unix timestamps to datetime
df.dropna(inplace=True)
df['created'] = pd.to_datetime(df['created'],unit='s').dt.date
df['updated'] = pd.to_datetime(df['updated'],unit='s').dt.date

In [ ]:
df['transactions']

2        [{"created":1727094293,"type":"received","amou...
3        [{"created":1700933961,"type":"change","amount...
4        [{"created":1700933961,"type":"change","amount...
5        [{"created":1727192271,"type":"change","amount...
6        [{"created":1700933961,"type":"change","amount...
                               ...
52879    [{"created":1754837217,"type":"received","amou...
52880    [{"created":1754844919,"type":"received","amou...
52881    [{"created":1754829627,"type":"received","amou...
52898    [{"created":1754832621,"type":"received","amou...
52912                                                   []
Name: transactions, Length: 48939, dtype: object

In [ ]:
#feature creation for transactions
import ast
df['total_transactions_amount']= 0.0
df['total_transactions_type']= "in"
for index in df.index:
    value=0
    list = ast.literal_eval(df.loc[index, "transactions"]) if pd.notnull(df.loc[index, "transactions"]) else []
    for transaction in list:
        if transaction["type"]=="received":
            value+= transaction["amount"]
        else:
            value-= transaction["amount"]
    if value>=0:
        df.loc[index,"total_transactions_amount"] = value
        df.loc[index,"total_transactions_type"] = "recieved"
    else:
        df.loc[index,"total_transactions_amount"] = -1*value
        df.loc[index,"total_transactions_type"] = "changed"

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48939 entries, 2 to 52912
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         48939 non-null  int64
 1   user_id                    48939 non-null  int64
 2   created                    48939 non-null  object
 3   updated                    48939 non-null  object
 4   closing_coins_and_notes    48939 non-null  object
 5   closing_balance            48939 non-null  float64
 6   end_time                   48939 non-null  float64
 7   place_id                   48939 non-null  int64
 8   opening_balance            48939 non-null  float64
 9   opening_coins_and_notes    48939 non-null  object
 10  status                     48939 non-null  object
 11  transactions               48939 non-null  object
 12  total_transactions_amount  48939 non-null  float64
 13  total_transactions_type    48939 non-null  object
dtypes: float64(4), int64(3), object(7)
memory usage: 6.6+ MB

In [ ]:
df.head()

,id,user_id,created,updated,closing_coins_and_notes,closing_balance,end_time,place_id,opening_balance,opening_coins_and_notes,status,transactions,total_transactions_amount,total_transactions_type
2,421701,1,2023-10-26,2024-09-23,[],0.0,1.727107e+09,320584,200.0,[],Closed,"[{""created"":1727094293,""type"":""received"",""amou...",42333.00,recieved
3,421796,1,2023-10-26,2025-05-12,[],0.0,1.747045e+09,355205,500.0,[],Closed,"[{""created"":1700933961,""type"":""change"",""amount...",11742.00,recieved
4,422038,1,2023-10-26,2025-05-12,[],0.0,1.747045e+09,355205,132.0,[],Closed,"[{""created"":1700933961,""type"":""change"",""amount...",11298.00,recieved
5,423192,1,2023-10-27,2024-09-24,[],0.0,1.727206e+09,386681,700.0,[],Closed,"[{""created"":1727192271,""type"":""change"",""amount...",212266.05,recieved
6,423211,1,2023-10-27,2025-05-12,[],0.0,1.747045e+09,355205,21.0,[],Closed,"[{""created"":1700933961,""type"":""change"",""amount...",11162.00,recieved

In [ ]:
df.to_csv('D:/Deloitte/DIH-X-AUC-Hackathon/data/Cleaned Data/fct_cash_balances.csv')

In [73]:
#cleaning fct_order_items.csv
data_loader = DataLoader("D:\Deloitte\DIH-X-AUC-Hackathon\data\Inventory Management")
df = data_loader.load_csv("dim_places.csv")

Successfully loaded dim_places.csv: 1824 rows

In [74]:
#knowing the shape, the columns, and the info of the dataset
print(df.shape)
print(df.columns.tolist())
df.head()

(1824, 189)
['id', 'user_id', 'created', 'updated', 'title', 'activated', 'active', 'bankrupt', 'binding_period', 'chain_id', 'contact_email', 'contact_mobile_phone', 'contract_start', 'country', 'currency', 'cvr_number', 'duplicate', 'ecommerce_fee', 'eu_commission', 'invoicing_start_date', 'isv_commission', 'isv_partner', 'non_eu_commission', 'onboarded_by', 'payment_terminal_provider', 'area_id', 'processing_fee', 'sales_outcome_id', 'sales_stage', 'service_charge', 'setup_type', 'termination_date', 'termination_value', 'transferred_contract', 'type_id', 'cashier_ids', 'manager_ids', 'driver_ids', 'payment_terminal_ids', 'kitchen_staff_ids', 'contact_name', 'description', 'cuisine_ids', 'trainee_mode', 'demo_mode', 'default_order_type_cashier', 'default_order_type_customer', 'show_bestsellers', 'use_quick_search', 'display_cashier_images', 'display_created_by', 'use_customer_facing_display', 'timezone', 'contact_language', 'business_name', 'area', 'street_address', 'suppress_receipt_prompt', 'print_on_acceptance', 'enable_receipt_download', 'enable_email_receipts', 'customer_receipt_cc', 'customer_receipt_msg', 'daily_sales_reports', 'monthly_sales_reports', 'sales_report_email', 'logo', 'image_1', 'image_2', 'image_3', 'image_4', 'image_5', 'phone', 'email', 'website', 'facebook', 'instagram', 'takeaway_link', 'delivery_link', 'table_booking_link', 'opening_hours', 'enable_cashback', 'enable_voucher_payment', 'inventory_management', 'seasonal', 'moved_to_competition', 'dormant', 'dormant_partner', 'dead_lead', 'closed', 'collect_customer_info_takeaway', 'collect_customer_info_eat_in', 'collect_customer_info_delivery', 'nets_mid', 'realm', 'auto_accept_delivery', 'auto_accept_eat_in', 'auto_accept_table_bookings', 'auto_accept_takeaway', 'auto_close_delivery', 'auto_close_eat_in', 'auto_close_takeaway', 'auto_hide_orders_eat_in', 'auto_sms_topup', 'average_driver_speed', 'call_specific_waiter', 'call_waiter', 'call_waiter_interval', 'cash_pay_delivery', 'cash_pay_eat_in', 'cash_pay_takeaway', 'cashier_homepage', 'accepting_orders', 'allow_future_pickup_time', 'allow_refunds', 'default_payment_method', 'delivery', 'delivery_qr_code_link', 'delivery_radius', 'demo_end', 'display_cashier_prices', 'display_in_app', 'display_item_ratings', 'display_order_status', 'dynamic_location', 'eat_in', 'ecom_provider', 'enable_barcode_scanning', 'enable_cash_in_out', 'enable_ecommerce_payments', 'enable_nfc_login', 'enable_ordered_printing', 'enable_other_payment', 'enable_qr_code_payment', 'enable_qr_code_receipt', 'enable_sms_on_ready', 'first_day_of_week', 'force_table_number', 'force_upfront_pay_delivery', 'force_upfront_pay_eat_in', 'force_upfront_pay_takeaway', 'immediate_payment_delivery', 'immediate_payment_eat_in', 'immediate_payment_takeaway', 'in_app_pay_delivery', 'in_app_pay_eat_in', 'in_app_pay_takeaway', 'isv_source_code', 'language', 'latitude', 'longitude', 'loyalty_program', 'min_guests', 'minimum_delivery_amount', 'not_accepting_orders_msg', 'payment_terminal_pay_delivery', 'payment_terminal_pay_eat_in', 'payment_terminal_pay_takeaway', 'print_on_payment', 'print_on_refund', 'print_sold_items', 'prompt_for_tip_delivery', 'prompt_for_tip_eat_in', 'prompt_for_tip_takeaway', 'protect_sensitive_sections', 'rating', 'receipt_printing_enabled', 'receive_phone_calls', 'skip_order_confirmation', 'slot_duration', 'sms_balance', 'sms_on_ready_text', 'suppress_print_receipt_prompt', 'table_bookings', 'takeaway', 'takeaway_qr_code_link', 'terminal_provider', 'theme', 'tiered_loyalty_program', 'vat', 'vip_threshold', 'visit_duration', 'votes', 'waiting_time', 'unspecified_section_id', 'unspecified_item_id', 'enable_sms_on_order', 'sms_on_order_text', 'exclude_from_ops_report']

,id,user_id,created,updated,title,activated,active,bankrupt,binding_period,chain_id,contact_email,contact_mobile_phone,contract_start,country,currency,cvr_number,duplicate,ecommerce_fee,eu_commission,invoicing_start_date,isv_commission,isv_partner,non_eu_commission,onboarded_by,payment_terminal_provider,area_id,processing_fee,sales_outcome_id,sales_stage,service_charge,setup_type,termination_date,termination_value,transferred_contract,type_id,cashier_ids,manager_ids,driver_ids,payment_terminal_ids,kitchen_staff_ids,contact_name,description,cuisine_ids,trainee_mode,demo_mode,default_order_type_cashier,default_order_type_customer,show_bestsellers,use_quick_search,display_cashier_images,display_created_by,use_customer_facing_display,timezone,contact_language,business_name,area,street_address,suppress_receipt_prompt,print_on_acceptance,enable_receipt_download,enable_email_receipts,customer_receipt_cc,customer_receipt_msg,daily_sales_reports,monthly_sales_reports,sales_report_email,logo,image_1,image_2,image_3,image_4,image_5,phone,email,website,facebook,instagram,takeaway_link,delivery_link,table_booking_link,opening_hours,enable_cashback,enable_voucher_payment,inventory_management,seasonal,moved_to_competition,dormant,dormant_partner,dead_lead,closed,collect_customer_info_takeaway,collect_customer_info_eat_in,collect_customer_info_delivery,nets_mid,realm,auto_accept_delivery,auto_accept_eat_in,auto_accept_table_bookings,auto_accept_takeaway,auto_close_delivery,auto_close_eat_in,auto_close_takeaway,auto_hide_orders_eat_in,auto_sms_topup,average_driver_speed,call_specific_waiter,call_waiter,call_waiter_interval,cash_pay_delivery,cash_pay_eat_in,cash_pay_takeaway,cashier_homepage,accepting_orders,allow_future_pickup_time,allow_refunds,default_payment_method,delivery,delivery_qr_code_link,delivery_radius,demo_end,display_cashier_prices,display_in_app,display_item_ratings,display_order_status,dynamic_location,eat_in,ecom_provider,enable_barcode_scanning,enable_cash_in_out,enable_ecommerce_payments,enable_nfc_login,enable_ordered_printing,enable_other_payment,enable_qr_code_payment,enable_qr_code_receipt,enable_sms_on_ready,first_day_of_week,force_table_number,force_upfront_pay_delivery,force_upfront_pay_eat_in,force_upfront_pay_takeaway,immediate_payment_delivery,immediate_payment_eat_in,immediate_payment_takeaway,in_app_pay_delivery,in_app_pay_eat_in,in_app_pay_takeaway,isv_source_code,language,latitude,longitude,loyalty_program,min_guests,minimum_delivery_amount,not_accepting_orders_msg,payment_terminal_pay_delivery,payment_terminal_pay_eat_in,payment_terminal_pay_takeaway,print_on_payment,print_on_refund,print_sold_items,prompt_for_tip_delivery,prompt_for_tip_eat_in,prompt_for_tip_takeaway,protect_sensitive_sections,rating,receipt_printing_enabled,receive_phone_calls,skip_order_confirmation,slot_duration,sms_balance,sms_on_ready_text,suppress_print_receipt_prompt,table_bookings,takeaway,takeaway_qr_code_link,terminal_provider,theme,tiered_loyalty_program,vat,vip_threshold,visit_duration,votes,waiting_time,unspecified_section_id,unspecified_item_id,enable_sms_on_order,sms_on_order_text,exclude_from_ops_report
0,59813,417,1610718144,1744221291,Green Love,0,0,0,36,NaN,place_59813@example.com,4559813,NaN,DK,DKK,30025334,0,0.0,0.0,0,2.0,0,0.0,lovingloyalty,NaN,11434.0,0.0,NaN,Shop info filled,0.0,NaN,0,NaN,0,1335.0,424|551,423|551|424,NaN,NaN,NaN,Mr./Mrs. 59813,Green Love er et plantebaseret vegansk spisest...,12179,0,0,Takeaway,Takeaway,1,0,1,0,0,Europe/Copenhagen,da,NaN,2000 Frederiksberg,Godthbsvej 142,1,0,0,0,NaN,NaN,1,1,NaN,NaN,https://storage.googleapis.com/loving-loyalty-...,https://storage.googleapis.com/loving-loyalty-...,https://storage.googleapis.com/loving-loyalty-...,https://storage.googleapis.com/loving-loyalty-...,NaN,4559813,place_59813@example.com,https://greenlove.dk/,https://www.facebook.com/Green-Love-Denmark-10...,https://www.instagram.com/green_love_denmark/,https://lovingloyalty.page.link/ayw8rvzr1AeGcBtH9,https://lovingloyalty.page.link/dbKQdPDpBCBuMy1MA,NaN,"{""monday"":{""from"":""closed"",""to"":""00.00""},""tues...",0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,1,1,0,1,0,1,1,0,1,40,0,1,60,0,1,1,menu,1,0,1,payment_terminal,0,NaN,5.0,NaN,0,0,0,0,1,1,NaN,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,NaN,da,55.689774,55.689774,1,1,0.0,NaN,0,1,1,0,1,0,0,0,0,1,198.0,1,1,0,30,0,NaN,1,0,1,NaN,NaN,NaN,0,25.0,20,90,22,25,5972947,306775,0,NaN,0
1,59817,417,1610718304,1744221291,Grnnere,0,0,0,36,NaN,place_59817@example.com,4559817,NaN,DK,DKK,41235586,0,0.0,0.0,0,2.0,0,0.0,lovingloyalty,NaN,11437.0,0.0,NaN,Shop info filled,0.0,NaN,0,NaN,0,1335.0,424,423,NaN,NaN,NaN,Mr./Mrs. 59817,NaN,12172|12147,0,0,Takeaway,Takeaway,1,0,1,0,0,Europe/Copenhagen,da,NaN,2200 Kbenhavn N,Flledvej 14,1,0,0,0,NaN,NaN,1,1,NaN,NaN,https://storage.googleapis.com/loving-loyalty-...,https://storage.googleapis.com/loving-loyalty-...,https://storage.googleapis.com/loving-loyalty-...,NaN,NaN,4559817,place_59817@example.com,http://groennerecafe.dk/,https://www.facebook.com/groennere/,https://www.instagram.com/groennerecafe/,https://lovingloyalty.page.link/bCnaD8SKS2YNVHmeA,https://lovingloyalty.page.link/WAU4gVWT2wedUxeG6,NaN,"{""monday"":{""from"":""closed"",""to"":""00.00""},""tues...",0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,1,1,0,1,0,1,1,0,1,40,0,1,60,0,1,1,menu,1,0,1,payment_terminal,0,NaN,5.0,NaN,0,0,0,0,1,1,NaN,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,NaN,da,55.689352,55.689352,1,1,0.0,Lukket p grund af Corona,0,1,1,0,1,0,0,0,0,1,0.0,0,0,0,30,0,NaN,1,0,1,NaN,NaN,NaN,0,25.0,20,90,0,15,5972948,306777,0,NaN,0
2,59821,417,1610866418,1744221291,Eden Jaxx,0,0,0,36,NaN,place_59821@example.com,4559821,NaN,DK,DKK,41465549,0,0.0,0.0,0,2.0,0,0.0,lovingloyalty,NaN,11435.0,0.0,NaN,Shop info filled,0.0,NaN,0,NaN,0,1335.0,436|424,436|423,NaN,NaN,NaN,Mr./Mrs. 59821,NaN,12159|12147|12179,0,0,Takeaway,Takeaway,1,0,1,0,0,Europe/Copenhagen,en,NaN,2100 Kbenhavn,Rosenvngets All 3A,1,0,0,0,NaN,NaN,1,1,NaN,NaN,https://storage.googleapis.com/loving-loyalty-...,https://storage.googleapis.com/loving-loyalty-...,https://storage.googleapis.com/loving-loyalty-...,https://storage.googleapis.com/loving-loyalty-...,https://storage.googleapis.com/loving-loyalty-...,4559821,place_59821@example.com,https://edenjaxx.dk/,https://www.facebook.com/edenjaxxx/,https://www.instagram.com/terms/unblock/?next=...,https://lovingloyalty.page.link/9g4cJKRvVR1mApiJ7,https://lovingloyalty.page.link/dj9fsF6W3uNs2ZJGA,NaN,"{""monday"":{""from"":""12.00"",""to"":""20.30""},""tuesd...",0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,1,1,0,1,0,1,1,0,1,40,0,1,60,0,1,1,menu,0,0,1,payment_terminal,0,NaN,5.0,NaN,0,0,0,0,1,1,NaN,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,NaN,en,55.698856,55.698856,1,1,0.0,NaN,0,1,1,0,1,0,0,0,0,1,75.0,0,1,0,30,0,NaN,1,0,1,NaN,NaN,NaN,0,25.0,20,90,8,25,5972949,306779,0,NaN,0
3,59881,417,1610999184,1744221291,Crazy Chicken,0,0,0,36,NaN,place_59881@example.com,4559881,NaN,DK,DKK,25013891,0,0.0,0.0,0,2.0,0,0.0,lovingloyalty,NaN,11435.0,0.0,NaN,Shop info filled,0.0,NaN,0,NaN,0,1335.0,424|736|765,423,NaN,NaN,NaN,Mr./Mrs. 59881,NaN,12175|12174|12147|12182,0,0,Takeaway,Takeaway,1,0,1,0,0,Europe/Copenhagen,da,NaN,2100 Kbenhavn,Rosenvngets All 1,1,0,0,0,NaN,NaN,1,1,NaN,NaN,https://storage.googleapis.com/loving-loyalty-...,https://storage.googleapis.com/loving-loyalty-...,https://storage.googleapis.com/loving-loyalty-...,NaN,NaN,4559881,place_59881@example.com,NaN,https://www.facebook.com/crazychicken2100,https://www.instagram.com/crazy_chicken.dk/,https://lovingloyalty.page.link/sn8t1trAPdJs2JR1A,https://lovingloyalty.page.link/vc3EyGzEjbFJ1Vfp6,NaN,"{""monday"":{""from"":""11.00"",""to"":""20.00""},""tuesd...",0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,1,1,0,1,0,1,1,0,1,40,0,1,60,0,1,1,menu,0,0,1,payment_terminal,0,NaN,5.0,NaN,0,0,0,0,1,1,NaN,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,NaN,da,55.698783,55.698783,1,1,0.0,NaN,0,1,1,0,1,0,0,0,0,1,108.0,0,0,0,30,0,NaN,1,0,1,NaN,NaN,NaN,0,25.0,20,90,11,10,5972950,306781,0,NaN,0
4,59885,417,1610999187,1744221291,Mint,0,0,0,36,NaN,place_59885@example.com,4559885,NaN,DK,DKK,36975636,0,0.0,0.0,0,2.0,0,0.0,lovingloyalty,NaN,11219.0,0.0,NaN,Shop info filled,0.0,NaN,0,NaN,0,1335.0,424|803,423|802,NaN,NaN,NaN,Mr./Mrs. 59885,NaN,12080|12147,0,0,Takeaway,Takeaway,1,0,1,0,0,Europe/Copenhagen,en,NaN,1620 Kbenhavn V,Vesterbrogade 39,1,0,0,0,NaN,NaN,1,1,NaN,NaN,https://storage.googleapis.com/loving-loyalty-...,https://storage.googleapis.com/loving-loyalty-...,NaN,NaN,NaN,4559885,place_59885@example.com,https://indiaroyale.dk/restaurant-take-away-ve...,https://www.facebook.com/mintbyindiaroyale/,https://www.instagram.com/mint_by_india_royale/,https://lovingloyalty.page.link/S1a9XZFxT6w2PFyR9,https://lovingloyalty.page.link/jFPE9cZyYj81muCj8,NaN,"{""monday"":{""from"":""16.00"",""to"":""21.00""},""tuesd...",0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,1,1,0,1,0,1,1,0,1,40,0,1,60,0,1,1,menu,0,0,1,payment_terminal,0,NaN,5.0,NaN,0,0,0,0,1,1,NaN,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,NaN,en,55.672398,55.672398,1,1,200.0,"Pga Covid - 19, tag vi kun telefon bestilling",0,1,1,0,1,0,0,0,0,1,0.0,0,0,0,30,0,NaN,1,0,1,NaN,NaN,NaN,0,25.0,20,90,0,20,5972951,306783,0,NaN,0

In [75]:
#showing important info of the dataset
pd.set_option('display.max_columns', None)
pd.set_option('display.max_seq_items', None)
pd.set_option('display.max_info_columns', 200)
print(df.info(max_cols=200))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1824 entries, 0 to 1823
Data columns (total 189 columns):
 #    Column                          Non-Null Count  Dtype
---   ------                          --------------  -----
 0    id                              1824 non-null   int64
 1    user_id                         1824 non-null   int64
 2    created                         1824 non-null   int64
 3    updated                         1824 non-null   int64
 4    title                           1824 non-null   object
 5    activated                       1824 non-null   int64
 6    active                          1824 non-null   int64
 7    bankrupt                        1824 non-null   int64
 8    binding_period                  1824 non-null   int64
 9    chain_id                        2 non-null      float64
 10   contact_email                   1824 non-null   object
 11   contact_mobile_phone            1824 non-null   int64
 12   contract_start                  816 non-null    float64
 13   country                         1824 non-null   object
 14   currency                        1824 non-null   object
 15   cvr_number                      1333 non-null   object
 16   duplicate                       1824 non-null   int64
 17   ecommerce_fee                   1824 non-null   float64
 18   eu_commission                   1824 non-null   float64
 19   invoicing_start_date            1824 non-null   int64
 20   isv_commission                  1824 non-null   float64
 21   isv_partner                     1824 non-null   int64
 22   non_eu_commission               1824 non-null   float64
 23   onboarded_by                    1824 non-null   object
 24   payment_terminal_provider       1593 non-null   object
 25   area_id                         1335 non-null   float64
 26   processing_fee                  1824 non-null   float64
 27   sales_outcome_id                430 non-null    float64
 28   sales_stage                     1824 non-null   object
 29   service_charge                  1824 non-null   float64
 30   setup_type                      1066 non-null   object
 31   termination_date                1824 non-null   int64
 32   termination_value               99 non-null     float64
 33   transferred_contract            1824 non-null   int64
 34   type_id                         1752 non-null   float64
 35   cashier_ids                     990 non-null    object
 36   manager_ids                     45 non-null     object
 37   driver_ids                      9 non-null      object
 38   payment_terminal_ids            207 non-null    object
 39   kitchen_staff_ids               0 non-null      float64
 40   contact_name                    1824 non-null   object
 41   description                     69 non-null     object
 42   cuisine_ids                     1799 non-null   object
 43   trainee_mode                    1824 non-null   int64
 44   demo_mode                       1824 non-null   int64
 45   default_order_type_cashier      1824 non-null   object
 46   default_order_type_customer     1824 non-null   object
 47   show_bestsellers                1824 non-null   int64
 48   use_quick_search                1824 non-null   int64
 49   display_cashier_images          1824 non-null   int64
 50   display_created_by              1824 non-null   int64
 51   use_customer_facing_display     1824 non-null   int64
 52   timezone                        1824 non-null   object
 53   contact_language                1824 non-null   object
 54   business_name                   1300 non-null   object
 55   area                            1335 non-null   object
 56   street_address                  1332 non-null   object
 57   suppress_receipt_prompt         1824 non-null   int64
 58   print_on_acceptance             1824 non-null   int64
 59   enable_receipt_download         1824 non-null   int64
 60   enable_email_receipts           1824 non-null   int64
 61   customer_receipt_cc             10 non-null     object
 62   customer_receipt_msg            43 non-null     object
 63   daily_sales_reports             1824 non-null   int64
 64   monthly_sales_reports           1824 non-null   int64
 65   sales_report_email              182 non-null    object
 66   logo                            173 non-null    object
 67   image_1                         71 non-null     object
 68   image_2                         35 non-null     object
 69   image_3                         29 non-null     object
 70   image_4                         24 non-null     object
 71   image_5                         17 non-null     object
 72   phone                           1824 non-null   int64
 73   email                           1824 non-null   object
 74   website                         84 non-null     object
 75   facebook                        72 non-null     object
 76   instagram                       39 non-null     object
 77   takeaway_link                   1824 non-null   object
 78   delivery_link                   1824 non-null   object
 79   table_booking_link              4 non-null      object
 80   opening_hours                   1824 non-null   object
 81   enable_cashback                 1824 non-null   int64
 82   enable_voucher_payment          1824 non-null   int64
 83   inventory_management            1824 non-null   int64
 84   seasonal                        1824 non-null   int64
 85   moved_to_competition            1824 non-null   int64
 86   dormant                         1824 non-null   int64
 87   dormant_partner                 1824 non-null   int64
 88   dead_lead                       1824 non-null   int64
 89   closed                          1824 non-null   int64
 90   collect_customer_info_takeaway  1824 non-null   int64
 91   collect_customer_info_eat_in    1824 non-null   int64
 92   collect_customer_info_delivery  1824 non-null   int64
 93   nets_mid                        0 non-null      float64
 94   realm                           0 non-null      float64
 95   auto_accept_delivery            1824 non-null   int64
 96   auto_accept_eat_in              1824 non-null   int64
 97   auto_accept_table_bookings      1824 non-null   int64
 98   auto_accept_takeaway            1824 non-null   int64
 99   auto_close_delivery             1824 non-null   int64
 100  auto_close_eat_in               1824 non-null   int64
 101  auto_close_takeaway             1824 non-null   int64
 102  auto_hide_orders_eat_in         1824 non-null   int64
 103  auto_sms_topup                  1824 non-null   int64
 104  average_driver_speed            1824 non-null   int64
 105  call_specific_waiter            1824 non-null   int64
 106  call_waiter                     1824 non-null   int64
 107  call_waiter_interval            1824 non-null   int64
 108  cash_pay_delivery               1824 non-null   int64
 109  cash_pay_eat_in                 1824 non-null   int64
 110  cash_pay_takeaway               1824 non-null   int64
 111  cashier_homepage                1824 non-null   object
 112  accepting_orders                1824 non-null   int64
 113  allow_future_pickup_time        1824 non-null   int64
 114  allow_refunds                   1824 non-null   int64
 115  default_payment_method          1824 non-null   object
 116  delivery                        1824 non-null   int64
 117  delivery_qr_code_link           0 non-null      float64
 118  delivery_radius                 1824 non-null   float64
 119  demo_end                        302 non-null    float64
 120  display_cashier_prices          1824 non-null   int64
 121  display_in_app                  1824 non-null   int64
 122  display_item_ratings            1824 non-null   int64
 123  display_order_status            1824 non-null   int64
 124  dynamic_location                1824 non-null   int64
 125  eat_in                          1824 non-null   int64
 126  ecom_provider                   21 non-null     object
 127  enable_barcode_scanning         1824 non-null   int64
 128  enable_cash_in_out              1824 non-null   int64
 129  enable_ecommerce_payments       1824 non-null   int64
 130  enable_nfc_login                1824 non-null   int64
 131  enable_ordered_printing         1824 non-null   int64
 132  enable_other_payment            1824 non-null   int64
 133  enable_qr_code_payment          1824 non-null   int64
 134  enable_qr_code_receipt          1824 non-null   int64
 135  enable_sms_on_ready             1824 non-null   int64
 136  first_day_of_week               1824 non-null   object
 137  force_table_number              1824 non-null   int64
 138  force_upfront_pay_delivery      1824 non-null   int64
 139  force_upfront_pay_eat_in        1824 non-null   int64
 140  force_upfront_pay_takeaway      1824 non-null   int64
 141  immediate_payment_delivery      1824 non-null   int64
 142  immediate_payment_eat_in        1824 non-null   int64
 143  immediate_payment_takeaway      1824 non-null   int64
 144  in_app_pay_delivery             1824 non-null   int64
 145  in_app_pay_eat_in               1824 non-null   int64
 146  in_app_pay_takeaway             1824 non-null   int64
 147  isv_source_code                 12 non-null     float64
 148  language                        1824 non-null   object
 149  latitude                        287 non-null    float64
 150  longitude                       287 non-null    float64
 151  loyalty_program                 1824 non-null   int64
 152  min_guests                      1824 non-null   int64
 153  minimum_delivery_amount         1824 non-null   float64
 154  not_accepting_orders_msg        9 non-null      object
 155  payment_terminal_pay_delivery   1824 non-null   int64
 156  payment_terminal_pay_eat_in     1824 non-null   int64
 157  payment_terminal_pay_takeaway   1824 non-null   int64
 158  print_on_payment                1824 non-null   int64
 159  print_on_refund                 1824 non-null   int64
 160  print_sold_items                1824 non-null   int64
 161  prompt_for_tip_delivery         1824 non-null   int64
 162  prompt_for_tip_eat_in           1824 non-null   int64
 163  prompt_for_tip_takeaway         1824 non-null   int64
 164  protect_sensitive_sections      1824 non-null   int64
 165  rating                          1824 non-null   float64
 166  receipt_printing_enabled        1824 non-null   int64
 167  receive_phone_calls             1824 non-null   int64
 168  skip_order_confirmation         1824 non-null   int64
 169  slot_duration                   1824 non-null   int64
 170  sms_balance                     1824 non-null   int64
 171  sms_on_ready_text               12 non-null     object
 172  suppress_print_receipt_prompt   1824 non-null   int64
 173  table_bookings                  1824 non-null   int64
 174  takeaway                        1824 non-null   int64
 175  takeaway_qr_code_link           0 non-null      float64
 176  terminal_provider               1593 non-null   object
 177  theme                           0 non-null      float64
 178  tiered_loyalty_program          1824 non-null   int64
 179  vat                             1824 non-null   float64
 180  vip_threshold                   1824 non-null   int64
 181  visit_duration                  1824 non-null   int64
 182  votes                           1824 non-null   int64
 183  waiting_time                    1824 non-null   int64
 184  unspecified_section_id          1824 non-null   int64
 185  unspecified_item_id             1824 non-null   int64
 186  enable_sms_on_order             1824 non-null   int64
 187  sms_on_order_text               10 non-null     object
 188  exclude_from_ops_report         1824 non-null   int64
dtypes: float64(26), int64(114), object(49)
memory usage: 2.6+ MB
None

In [69]:
#independednt cell to see each columns info (check missing values or 
df['display_item_ratings'].unique()

array([0, 1], dtype=int64)

In [78]:
#dealing with missing data
#convert types
#any missing id will be filled with zero or empty. some columns that their null means no information given like price will be removed
import numpy as np
from scipy import stats
df =df.query("duplicate==0")
high_quality_cols = [
    'id', 'user_id', 'created', 'updated', 'title', 'activated', 'active', 
    'bankrupt', 'binding_period', 'contact_email', 'contact_mobile_phone', 
    'country', 'currency', 'duplicate', 'ecommerce_fee', 'eu_commission', 
    'invoicing_start_date', 'isv_commission', 'isv_partner', 'non_eu_commission', 
    'onboarded_by', 'processing_fee', 'sales_stage', 'service_charge', 
    'termination_date', 'transferred_contract', 'type_id', 'contact_name', 
    'cuisine_ids', 'trainee_mode', 'demo_mode', 'default_order_type_cashier', 
    'default_order_type_customer', 'show_bestsellers', 'use_quick_search', 
    'display_cashier_images', 'display_created_by', 'use_customer_facing_display', 
    'timezone', 'contact_language', 'suppress_receipt_prompt', 
    'print_on_acceptance', 'enable_receipt_download', 'enable_email_receipts', 
    'daily_sales_reports', 'monthly_sales_reports', 'phone', 'email', 
    'takeaway_link', 'delivery_link', 'opening_hours', 'enable_cashback', 
    'enable_voucher_payment', 'inventory_management', 'seasonal', 
    'moved_to_competition', 'dormant', 'dormant_partner', 'dead_lead', 
    'closed', 'collect_customer_info_takeaway', 'collect_customer_info_eat_in', 
    'collect_customer_info_delivery', 'auto_accept_delivery', 
    'auto_accept_eat_in', 'auto_accept_table_bookings', 'auto_accept_takeaway', 
    'auto_close_delivery', 'auto_close_eat_in', 'auto_close_takeaway', 
    'auto_hide_orders_eat_in', 'auto_sms_topup', 'average_driver_speed', 
    'call_specific_waiter', 'call_waiter', 'call_waiter_interval', 
    'cash_pay_delivery', 'cash_pay_eat_in', 'cash_pay_takeaway', 
    'cashier_homepage', 'accepting_orders', 'allow_future_pickup_time', 
    'allow_refunds', 'default_payment_method', 'delivery', 'delivery_radius', 
    'display_cashier_prices', 'display_in_app', 'display_item_ratings', 
    'display_order_status', 'dynamic_location', 'eat_in', 
    'enable_barcode_scanning', 'enable_cash_in_out', 'enable_ecommerce_payments', 
    'enable_nfc_login', 'enable_ordered_printing', 'enable_other_payment', 
    'enable_qr_code_payment', 'enable_qr_code_receipt', 'enable_sms_on_ready', 
    'first_day_of_week', 'force_table_number', 'force_upfront_pay_delivery', 
    'force_upfront_pay_eat_in', 'force_upfront_pay_takeaway', 
    'immediate_payment_delivery', 'immediate_payment_eat_in', 
    'immediate_payment_takeaway', 'in_app_pay_delivery', 'in_app_pay_eat_in', 
    'in_app_pay_takeaway', 'language', 'loyalty_program', 'min_guests', 
    'minimum_delivery_amount', 'payment_terminal_pay_delivery', 
    'payment_terminal_pay_eat_in', 'payment_terminal_pay_takeaway', 
    'print_on_payment', 'print_on_refund', 'print_sold_items', 
    'prompt_for_tip_delivery', 'prompt_for_tip_eat_in', 
    'prompt_for_tip_takeaway', 'protect_sensitive_sections', 'rating', 
    'receipt_printing_enabled', 'receive_phone_calls', 'skip_order_confirmation', 
    'slot_duration', 'sms_balance', 'suppress_print_receipt_prompt', 
    'table_bookings', 'takeaway', 'tiered_loyalty_program', 'vat', 
    'vip_threshold', 'visit_duration', 'votes', 'waiting_time', 
    'unspecified_section_id', 'unspecified_item_id', 'enable_sms_on_order', 
    'exclude_from_ops_report'
]
important_fillable_cols = [
    'business_name',          
    'area'                    
]
high_quality_cols = high_quality_cols + important_fillable_cols
df = df[high_quality_cols]
df['business_name']=df['business_name'].fillna("not_given")
df['area']=df['area'].fillna("not_given")
df['created'] = pd.to_datetime(df['created'],unit='s').dt.date
df['updated'] = pd.to_datetime(df['updated'],unit='s').dt.date
df['invoicing_start_date'] = pd.to_datetime(df['invoicing_start_date'],unit='s').dt.date
df.dropna(inplace=True)

ValueError: unit='s' not valid with non-numerical val='2021-01-15', at position 0

In [90]:
cols_to_check = [col for col in df.select_dtypes(include=[np.number]).columns 
                if not any(x in col.lower() for x in ['id', 'created', 'updated'])]
z_scores = np.abs(stats.zscore(df[cols_to_check]))    
df = df[~(z_scores >= 3).any(axis=1)]

In [91]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 1056 entries, 158 to 1823
Data columns (total 147 columns):
 #    Column                          Non-Null Count  Dtype
---   ------                          --------------  -----
 0    id                              1056 non-null   int64
 1    user_id                         1056 non-null   int64
 2    created                         1056 non-null   object
 3    updated                         1056 non-null   object
 4    title                           1056 non-null   object
 5    activated                       1056 non-null   int64
 6    active                          1056 non-null   int64
 7    bankrupt                        1056 non-null   int64
 8    binding_period                  1056 non-null   int64
 9    contact_email                   1056 non-null   object
 10   contact_mobile_phone            1056 non-null   int64
 11   country                         1056 non-null   object
 12   currency                        1056 non-null   object
 13   duplicate                       1056 non-null   int64
 14   ecommerce_fee                   1056 non-null   float64
 15   eu_commission                   1056 non-null   float64
 16   invoicing_start_date            1056 non-null   object
 17   isv_commission                  1056 non-null   float64
 18   isv_partner                     1056 non-null   int64
 19   non_eu_commission               1056 non-null   float64
 20   onboarded_by                    1056 non-null   object
 21   processing_fee                  1056 non-null   float64
 22   sales_stage                     1056 non-null   object
 23   service_charge                  1056 non-null   float64
 24   termination_date                1056 non-null   int64
 25   transferred_contract            1056 non-null   int64
 26   type_id                         1056 non-null   float64
 27   contact_name                    1056 non-null   object
 28   cuisine_ids                     1056 non-null   object
 29   trainee_mode                    1056 non-null   int64
 30   demo_mode                       1056 non-null   int64
 31   default_order_type_cashier      1056 non-null   object
 32   default_order_type_customer     1056 non-null   object
 33   show_bestsellers                1056 non-null   int64
 34   use_quick_search                1056 non-null   int64
 35   display_cashier_images          1056 non-null   int64
 36   display_created_by              1056 non-null   int64
 37   use_customer_facing_display     1056 non-null   int64
 38   timezone                        1056 non-null   object
 39   contact_language                1056 non-null   object
 40   suppress_receipt_prompt         1056 non-null   int64
 41   print_on_acceptance             1056 non-null   int64
 42   enable_receipt_download         1056 non-null   int64
 43   enable_email_receipts           1056 non-null   int64
 44   daily_sales_reports             1056 non-null   int64
 45   monthly_sales_reports           1056 non-null   int64
 46   phone                           1056 non-null   int64
 47   email                           1056 non-null   object
 48   takeaway_link                   1056 non-null   object
 49   delivery_link                   1056 non-null   object
 50   opening_hours                   1056 non-null   object
 51   enable_cashback                 1056 non-null   int64
 52   enable_voucher_payment          1056 non-null   int64
 53   inventory_management            1056 non-null   int64
 54   seasonal                        1056 non-null   int64
 55   moved_to_competition            1056 non-null   int64
 56   dormant                         1056 non-null   int64
 57   dormant_partner                 1056 non-null   int64
 58   dead_lead                       1056 non-null   int64
 59   closed                          1056 non-null   int64
 60   collect_customer_info_takeaway  1056 non-null   int64
 61   collect_customer_info_eat_in    1056 non-null   int64
 62   collect_customer_info_delivery  1056 non-null   int64
 63   auto_accept_delivery            1056 non-null   int64
 64   auto_accept_eat_in              1056 non-null   int64
 65   auto_accept_table_bookings      1056 non-null   int64
 66   auto_accept_takeaway            1056 non-null   int64
 67   auto_close_delivery             1056 non-null   int64
 68   auto_close_eat_in               1056 non-null   int64
 69   auto_close_takeaway             1056 non-null   int64
 70   auto_hide_orders_eat_in         1056 non-null   int64
 71   auto_sms_topup                  1056 non-null   int64
 72   average_driver_speed            1056 non-null   int64
 73   call_specific_waiter            1056 non-null   int64
 74   call_waiter                     1056 non-null   int64
 75   call_waiter_interval            1056 non-null   int64
 76   cash_pay_delivery               1056 non-null   int64
 77   cash_pay_eat_in                 1056 non-null   int64
 78   cash_pay_takeaway               1056 non-null   int64
 79   cashier_homepage                1056 non-null   object
 80   accepting_orders                1056 non-null   int64
 81   allow_future_pickup_time        1056 non-null   int64
 82   allow_refunds                   1056 non-null   int64
 83   default_payment_method          1056 non-null   object
 84   delivery                        1056 non-null   int64
 85   delivery_radius                 1056 non-null   float64
 86   display_cashier_prices          1056 non-null   int64
 87   display_in_app                  1056 non-null   int64
 88   display_item_ratings            1056 non-null   int64
 89   display_order_status            1056 non-null   int64
 90   dynamic_location                1056 non-null   int64
 91   eat_in                          1056 non-null   int64
 92   enable_barcode_scanning         1056 non-null   int64
 93   enable_cash_in_out              1056 non-null   int64
 94   enable_ecommerce_payments       1056 non-null   int64
 95   enable_nfc_login                1056 non-null   int64
 96   enable_ordered_printing         1056 non-null   int64
 97   enable_other_payment            1056 non-null   int64
 98   enable_qr_code_payment          1056 non-null   int64
 99   enable_qr_code_receipt          1056 non-null   int64
 100  enable_sms_on_ready             1056 non-null   int64
 101  first_day_of_week               1056 non-null   object
 102  force_table_number              1056 non-null   int64
 103  force_upfront_pay_delivery      1056 non-null   int64
 104  force_upfront_pay_eat_in        1056 non-null   int64
 105  force_upfront_pay_takeaway      1056 non-null   int64
 106  immediate_payment_delivery      1056 non-null   int64
 107  immediate_payment_eat_in        1056 non-null   int64
 108  immediate_payment_takeaway      1056 non-null   int64
 109  in_app_pay_delivery             1056 non-null   int64
 110  in_app_pay_eat_in               1056 non-null   int64
 111  in_app_pay_takeaway             1056 non-null   int64
 112  language                        1056 non-null   object
 113  loyalty_program                 1056 non-null   int64
 114  min_guests                      1056 non-null   int64
 115  minimum_delivery_amount         1056 non-null   float64
 116  payment_terminal_pay_delivery   1056 non-null   int64
 117  payment_terminal_pay_eat_in     1056 non-null   int64
 118  payment_terminal_pay_takeaway   1056 non-null   int64
 119  print_on_payment                1056 non-null   int64
 120  print_on_refund                 1056 non-null   int64
 121  print_sold_items                1056 non-null   int64
 122  prompt_for_tip_delivery         1056 non-null   int64
 123  prompt_for_tip_eat_in           1056 non-null   int64
 124  prompt_for_tip_takeaway         1056 non-null   int64
 125  protect_sensitive_sections      1056 non-null   int64
 126  rating                          1056 non-null   float64
 127  receipt_printing_enabled        1056 non-null   int64
 128  receive_phone_calls             1056 non-null   int64
 129  skip_order_confirmation         1056 non-null   int64
 130  slot_duration                   1056 non-null   int64
 131  sms_balance                     1056 non-null   int64
 132  suppress_print_receipt_prompt   1056 non-null   int64
 133  table_bookings                  1056 non-null   int64
 134  takeaway                        1056 non-null   int64
 135  tiered_loyalty_program          1056 non-null   int64
 136  vat                             1056 non-null   float64
 137  vip_threshold                   1056 non-null   int64
 138  visit_duration                  1056 non-null   int64
 139  votes                           1056 non-null   int64
 140  waiting_time                    1056 non-null   int64
 141  unspecified_section_id          1056 non-null   int64
 142  unspecified_item_id             1056 non-null   int64
 143  enable_sms_on_order             1056 non-null   int64
 144  exclude_from_ops_report         1056 non-null   int64
 145  business_name                   1056 non-null   object
 146  area                            1056 non-null   object
dtypes: float64(11), int64(111), object(25)
memory usage: 1.2+ MB

In [94]:
df.head()

,id,user_id,created,updated,title,activated,active,bankrupt,binding_period,contact_email,contact_mobile_phone,country,currency,duplicate,ecommerce_fee,eu_commission,invoicing_start_date,isv_commission,isv_partner,non_eu_commission,onboarded_by,processing_fee,sales_stage,service_charge,termination_date,transferred_contract,type_id,contact_name,cuisine_ids,trainee_mode,demo_mode,default_order_type_cashier,default_order_type_customer,show_bestsellers,use_quick_search,display_cashier_images,display_created_by,use_customer_facing_display,timezone,contact_language,suppress_receipt_prompt,print_on_acceptance,enable_receipt_download,enable_email_receipts,daily_sales_reports,monthly_sales_reports,phone,email,takeaway_link,delivery_link,opening_hours,enable_cashback,enable_voucher_payment,inventory_management,seasonal,moved_to_competition,dormant,dormant_partner,dead_lead,closed,collect_customer_info_takeaway,collect_customer_info_eat_in,collect_customer_info_delivery,auto_accept_delivery,auto_accept_eat_in,auto_accept_table_bookings,auto_accept_takeaway,auto_close_delivery,auto_close_eat_in,auto_close_takeaway,auto_hide_orders_eat_in,auto_sms_topup,average_driver_speed,call_specific_waiter,call_waiter,call_waiter_interval,cash_pay_delivery,cash_pay_eat_in,cash_pay_takeaway,cashier_homepage,accepting_orders,allow_future_pickup_time,allow_refunds,default_payment_method,delivery,delivery_radius,display_cashier_prices,display_in_app,display_item_ratings,display_order_status,dynamic_location,eat_in,enable_barcode_scanning,enable_cash_in_out,enable_ecommerce_payments,enable_nfc_login,enable_ordered_printing,enable_other_payment,enable_qr_code_payment,enable_qr_code_receipt,enable_sms_on_ready,first_day_of_week,force_table_number,force_upfront_pay_delivery,force_upfront_pay_eat_in,force_upfront_pay_takeaway,immediate_payment_delivery,immediate_payment_eat_in,immediate_payment_takeaway,in_app_pay_delivery,in_app_pay_eat_in,in_app_pay_takeaway,language,loyalty_program,min_guests,minimum_delivery_amount,payment_terminal_pay_delivery,payment_terminal_pay_eat_in,payment_terminal_pay_takeaway,print_on_payment,print_on_refund,print_sold_items,prompt_for_tip_delivery,prompt_for_tip_eat_in,prompt_for_tip_takeaway,protect_sensitive_sections,rating,receipt_printing_enabled,receive_phone_calls,skip_order_confirmation,slot_duration,sms_balance,suppress_print_receipt_prompt,table_bookings,takeaway,tiered_loyalty_program,vat,vip_threshold,visit_duration,votes,waiting_time,unspecified_section_id,unspecified_item_id,enable_sms_on_order,exclude_from_ops_report,business_name,area
158,354571,510,2023-09-05,2025-08-05,Bog Aps,0,0,0,36,place_354571@example.com,45354571,DK,DKK,0,0.0,0.0,1970-01-01,0.0,0,0.0,lovingloyalty,0.0,Demo created,0.0,0,0,12191.0,Mr./Mrs. 354571,12192,0,0,Takeaway,Takeaway,1,1,0,0,0,Europe/Copenhagen,da,1,0,0,0,1,1,45354571,place_354571@example.com,https://lovingloyalty.page.link/7V98AUkbCTg9imYy6,https://lovingloyalty.page.link/Phsgd1ggbk6jfkC26,"{""monday"":{""from"":""closed"",""to"":""00.00""},""tues...",0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0,1,1,0,1,40,0,1,60,0,1,1,menu,1,1,1,payment_terminal,0,5.0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,da,0,1,0.0,0,1,1,0,1,0,0,0,0,1,0.0,1,1,0,30,0,1,0,1,0,25.0,20,90,0,15,1647780,354576,0,0,Bog Design ApS,8200 Aarhus
160,355409,19776,2023-09-06,2025-04-09,Malles sandwich,0,0,0,36,place_355409@example.com,45355409,DK,DKK,0,0.0,0.0,1970-01-01,0.0,0,0.0,nets,0.0,Shop info filled,0.0,0,0,12191.0,Mr./Mrs. 355409,12192,0,0,Takeaway,Takeaway,1,0,1,0,0,Europe/Copenhagen,da,1,1,0,0,1,1,45355409,place_355409@example.com,https://lovingloyalty.page.link/oLe2tz3feFh5yRYT7,https://lovingloyalty.page.link/V4Xj3gSge5TU472z6,"{""monday"":{""from"":""closed"",""to"":""00.00""},""tues...",0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0,1,1,0,1,40,0,1,60,0,1,1,menu,1,1,1,payment_terminal,0,5.0,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,da,0,1,0.0,0,1,1,0,1,0,0,0,0,1,0.0,1,1,0,30,0,1,0,1,0,25.0,20,90,0,15,5973012,355411,0,0,Malles sandwich,2200 Kbenhavn
162,355492,19776,2023-09-06,2025-04-09,Untitled,0,0,0,36,place_355492@example.com,45355492,DK,DKK,0,0.0,0.0,1970-01-01,0.0,0,0.0,nets,0.0,Shop info filled,0.0,0,0,12191.0,Mr./Mrs. 355492,12192,0,0,Takeaway,Takeaway,1,0,1,0,0,Europe/Copenhagen,da,1,1,0,0,1,1,45355492,place_355492@example.com,https://lovingloyalty.page.link/eaH9229p6Apc2MbV6,https://lovingloyalty.page.link/dzDChEwQaVUfCV9G7,"{""monday"":{""from"":""closed"",""to"":""00.00""},""tues...",0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0,1,1,0,1,40,0,1,60,0,1,1,menu,1,1,1,payment_terminal,0,5.0,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,da,0,1,0.0,0,1,1,0,1,0,0,0,0,1,0.0,1,1,0,30,0,1,0,1,0,25.0,20,90,0,15,5973014,356286,0,0,not_given,not_given
163,355497,19776,2023-09-06,2025-04-09,Untitled,0,0,0,36,place_355497@example.com,45355497,DK,DKK,0,0.0,0.0,1970-01-01,0.0,0,0.0,nets,0.0,Shop info filled,0.0,0,0,12191.0,Mr./Mrs. 355497,12192,0,0,Takeaway,Takeaway,1,0,1,0,0,Europe/Copenhagen,da,1,1,0,0,1,1,45355497,place_355497@example.com,https://lovingloyalty.page.link/QQtCwx3Rjvvzgjft8,https://lovingloyalty.page.link/TRpHXe9hBWQBHDXq8,"{""monday"":{""from"":""closed"",""to"":""00.00""},""tues...",0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0,1,1,0,1,40,0,1,60,0,1,1,menu,1,1,1,payment_terminal,0,5.0,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,da,0,1,0.0,0,1,1,0,1,0,0,0,0,1,0.0,1,1,0,30,0,1,0,1,0,25.0,20,90,0,15,5973015,356290,0,0,not_given,not_given
165,356280,4164,2023-09-07,2025-04-09,Untitled,0,0,0,36,place_356280@example.com,45356280,DK,DKK,0,0.0,0.0,1970-01-01,0.0,0,0.0,nets,0.0,Shop info filled,0.0,0,0,12191.0,Mr./Mrs. 356280,12192,0,0,Takeaway,Takeaway,1,0,1,0,0,Europe/Copenhagen,da,1,1,0,0,1,1,45356280,place_356280@example.com,https://lovingloyalty.page.link/ag1KdpdTPDNZAGsg9,https://lovingloyalty.page.link/SAipJXCo69csuXmh6,"{""monday"":{""from"":""closed"",""to"":""00.00""},""tues...",0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0,1,1,0,1,40,0,1,60,0,1,1,menu,1,1,1,payment_terminal,0,5.0,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,da,0,1,0.0,0,1,1,0,1,0,0,0,0,1,0.0,1,1,0,30,0,1,0,1,0,25.0,20,90,0,15,5973016,357237,0,0,not_given,not_given

In [ ]:
df.to_csv('D:/Deloitte/DIH-X-AUC-Hackathon/data/Inventory Management/dim_places.csv')

In [104]:
data_loader = DataLoader("D:\Deloitte\DIH-X-AUC-Hackathon\data\Inventory Management")
df = data_loader.load_csv("dim_users.csv")

Successfully loaded dim_users.csv: 22955 rows

d:\Deloitte\DIH-X-AUC-Hackathon\src\models\data_loader.py:56: DtypeWarning: Columns (36,40) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, parse_dates=parse_dates)

In [103]:
#knowing the shape, the columns, and the info of the dataset
print(df.shape)
print(df.columns.tolist())
df.head()

(22955, 41)
['id', 'user_id', 'created', 'updated', 'account_closure_requested', 'age_group_id', 'app_version', 'area_id', 'cltv', 'country', 'currency', 'date_of_birth', 'do_not_contact', 'first_name', 'gender_id', 'last_name', 'mobile_phone', 'picture', 'orders', 'redeemed_points', 'referring_user_id', 'referring_place_id', 'savings', 'source', 'type', 'api_key', 'roles', 'email', 'password', 'referral_id', 'otp', 'language', 'email_temp', 'mobile_phone_temp', 'mobile_phone_valid', 'email_valid', 'barcode_scanner_ids', 'receipt_printer_ids', 'payment_terminal_ids', 'notifications', 'favorite_place_ids']

,id,user_id,created,updated,account_closure_requested,age_group_id,app_version,area_id,cltv,country,currency,date_of_birth,do_not_contact,first_name,gender_id,last_name,mobile_phone,picture,orders,redeemed_points,referring_user_id,referring_place_id,savings,source,type,api_key,roles,email,password,referral_id,otp,language,email_temp,mobile_phone_temp,mobile_phone_valid,email_valid,barcode_scanner_ids,receipt_printer_ids,payment_terminal_ids,notifications,favorite_place_ids
0,0,0.0,1571676937,1605685627,0,NaN,NaN,NaN,0.0,DK,DKK,NaN,0,user 0 first_name,NaN,user 0 last_name,450,http://default/sites/default/files/styles/prof...,0,0,NaN,NaN,0.0,NaN,Normal,NaN,anonymous,user_0@example.com,$S$ELsOLSoWL0IdQi.mEK1tXA4Nx0TuPXVTIwwaKeSFL9c...,202257.0,NaN,en,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,1571676937,1744002851,0,12033.0,NaN,11470.0,232.0,DK,DKK,387676800.0,0,user 1 first_name,1.0,user 1 last_name,451,http://default/sites/default/files/styles/prof...,2,0,NaN,NaN,0.0,NaN,Normal,bd3f2cec240feda042d65d6d1e981fc6,authenticated|administrator,user_1@example.com,$2y$10$HHa60h/64qTb0KLIu8nUb.8MNlCI4P/vdogslhV...,383219.0,NaN,en,NaN,NaN,0,0,NaN,NaN,NaN,push_orders|push_others|email_orders|email_others,NaN
2,417,417.0,1610542930,1752828166,0,NaN,NaN,NaN,993.0,DK,DKK,NaN,0,user 417 first_name,NaN,user 417 last_name,45417,http://lovingloyalty.com/sites/default/files/s...,22,0,NaN,NaN,2640.0,NaN,Normal,101dfe92603b0cd08448a7e227b4ca28,authenticated|customer|cashier|manager|editor|...,user_417@example.com,$2y$10$Le5rpir1x9LOxcxGQ9JmT.wATxQSS9hozqlGLPg...,254676.0,349460.0,en,NaN,NaN,1,0,NaN,443164|6009243,6009244,push_reviews|push_deals|push_orders|push_other...,NaN
3,423,423.0,1610598865,1744002851,0,NaN,NaN,NaN,0.0,DK,DKK,NaN,0,user 423 first_name,NaN,user 423 last_name,45423,http://default/sites/default/files/styles/prof...,0,0,NaN,NaN,0.0,NaN,Normal,e0677c66e997c605b398f1da5b33307d,authenticated|customer,user_423@example.com,$S$EO07I8QiUMhmZtwcb3OtklQmcACmofRX7cwP13NJd2E...,275349.0,NaN,en,NaN,NaN,0,0,NaN,NaN,NaN,push_reviews|push_deals|push_orders|push_other...,NaN
4,424,424.0,1610598897,1754741871,0,12032.0,1.659650e+12,11457.0,2039.0,DK,DKK,496972800.0,0,user 424 first_name,1.0,user 424 last_name,45424,http://lovingloyalty.com/sites/default/files/s...,75,0,NaN,NaN,9.0,NaN,Normal,8431182a740e189593d8d7159e539c2e,authenticated|customer|cashier|manager|pos_device,user_424@example.com,$2y$10$CPd55Nhvbv.PREE8SP5hpumAgq.K6LfYDKy4K1M...,288986.0,809267.0,en,cashier@lovingloyalty.com,4.522315e+09,0,0,NaN,420542|829147|2388025|2748655|2119442|5935972|...,420539|493523|3291740|5935971|226274|4241778|5...,push_deals|push_orders|push_others|sms_deals|s...,NaN

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22955 entries, 0 to 22954
Data columns (total 41 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         22955 non-null  int64
 1   user_id                    22944 non-null  float64
 2   created                    22955 non-null  int64
 3   updated                    22955 non-null  int64
 4   account_closure_requested  22955 non-null  int64
 5   age_group_id               104 non-null    float64
 6   app_version                349 non-null    float64
 7   area_id                    7 non-null      float64
 8   cltv                       22955 non-null  float64
 9   country                    22955 non-null  object
 10  currency                   22955 non-null  object
 11  date_of_birth              119 non-null    float64
 12  do_not_contact             22955 non-null  int64
 13  first_name                 22955 non-null  object
 14  gender_id                  224 non-null    float64
 15  last_name                  22955 non-null  object
 16  mobile_phone               22955 non-null  int64
 17  picture                    22944 non-null  object
 18  orders                     22955 non-null  int64
 19  redeemed_points            22955 non-null  int64
 20  referring_user_id          0 non-null      float64
 21  referring_place_id         568 non-null    float64
 22  savings                    22955 non-null  float64
 23  source                     6 non-null      object
 24  type                       22955 non-null  object
 25  api_key                    22954 non-null  object
 26  roles                      22955 non-null  object
 27  email                      22955 non-null  object
 28  password                   3630 non-null   object
 29  referral_id                22945 non-null  float64
 30  otp                        20870 non-null  float64
 31  language                   22944 non-null  object
 32  email_temp                 98 non-null     object
 33  mobile_phone_temp          17284 non-null  float64
 34  mobile_phone_valid         22955 non-null  int64
 35  email_valid                22955 non-null  int64
 36  barcode_scanner_ids        4 non-null      object
 37  receipt_printer_ids        1340 non-null   object
 38  payment_terminal_ids       1219 non-null   object
 39  notifications              22923 non-null  object
 40  favorite_place_ids         69 non-null     object
dtypes: float64(13), int64(10), object(18)
memory usage: 7.2+ MB

In [ ]:
#independednt cell to see each columns info (check missing values or

In [106]:
#dealing with missing data
#convert types
#any missing id will be filled with zero or empty. some columns that their null means no information given like price will be removed
df.drop(['age_group_id','app_version','area_id','date_of_birth','gender_id','referring_user_id','referring_place_id','do_not_contact','mobile_phone','picture','referring_place_id','source','api_key','email','password','referral_id','otp','language','email_temp'],axis=1,inplace=True)

In [108]:
df = df[df.columns.tolist()[0:15]]
df['created'] = pd.to_datetime(df['created'],unit='s').dt.date
df['updated'] = pd.to_datetime(df['updated'],unit='s').dt.date
df.dropna(inplace=True)
cols_to_check = [col for col in df.select_dtypes(include=[np.number]).columns 
                if not any(x in col.lower() for x in ['id', 'created', 'updated'])]
z_scores = np.abs(stats.zscore(df[cols_to_check]))    
df = df[~(z_scores >= 3).any(axis=1)]

In [109]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 22762 entries, 0 to 22954
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         22762 non-null  int64
 1   user_id                    22762 non-null  float64
 2   created                    22762 non-null  object
 3   updated                    22762 non-null  object
 4   account_closure_requested  22762 non-null  int64
 5   cltv                       22762 non-null  float64
 6   country                    22762 non-null  object
 7   currency                   22762 non-null  object
 8   first_name                 22762 non-null  object
 9   last_name                  22762 non-null  object
 10  orders                     22762 non-null  int64
 11  redeemed_points            22762 non-null  int64
 12  savings                    22762 non-null  float64
 13  type                       22762 non-null  object
 14  roles                      22762 non-null  object
dtypes: float64(3), int64(4), object(8)
memory usage: 2.8+ MB

In [110]:
df.to_csv('D:/Deloitte/DIH-X-AUC-Hackathon/data/Inventory Management/dim_users.csv')